

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
 @section MetaData {
	
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="google-signin-client_id" content="104983047817-ahbomi25h88rsehbee4652msao9g9as6.apps.googleusercontent.com">
        <title>
            Date Sheet 2026 - Date Sheets Matric Inter Bachelors Masters
        </title>
        <meta name="description" content="Date Sheet 2026 of all Pakistani exams will be available here. Here you can get the date sheets 2026 of Lahore board and other Pakistani boards as well as universities for the exams.">
        <link rel="canonical" href="https://www.ilmkidunya.com/date_sheets/">    
    <meta name="keywords" content="date sheet 2026, 9th class date sheet 2026, bise date sheet 2026, 10th class date sheet 2026, ssc date sheet 2026, hssc date sheet 2026, intermediate date sheet 2026, pcs pms date sheet 2026, fa fsc date sheet 2026, bcom date sheet 2026">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="ilmkidunya.com">
    <meta property="og:title" content="Date Sheet 2026 - Date Sheets Matric Inter Bachelors Masters">
    <meta property="og:description" content="Date Sheet 2026 of all Pakistani exams will be available here. Here you can get the date sheets 2026 of Lahore board and other Pakistani boards as well as universities for the exams.">
    <meta property="og:url" content="https://www.ilmkidunya.com/date_sheets/">
	
    <meta name="twitter:title" content="Date Sheet 2026 - Date Sheets Matric Inter Bachelors Masters">
    <meta name="twitter:description" content="Date Sheet 2026 of all Pakistani exams will be available here. Here you can get the date sheets 2026 of Lahore board and other Pakistani boards as well as universities for the exams.">


    <meta name="robots" content="index,follow">

    <meta name="publisher" content="ilmkidunya.com">


    <meta name="Robots" content="ALL">
    <meta name="googlebot" content="archive">



   }
@section header {
	<div class="col-lg-11">
		<partial name="_NavBarPartial" />
	</div>
}
@section innerbanner {
	<div class="ss-banner-inner">
		<div class="ss-container">
			<div class="ss-row">
				<div class="ss-col-lg-12">
					<div class="ss-text-holder">
						<h1>Date Sheet 2026 - Date Sheets Matric Inter Bachelors Masters</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
}

<div id="main">
	<div class="content-sec" style="padding: 30px 0 20px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p>
						Before the commencement of the exams, the respective authority announces the date sheet so that the students can get to know about the examination schedule. The students are advised to prepare for the exams according to the schedule provided. The date sheet contains complete information about the day, date, and venue of the examination center that facilitates the students in the examination phase. In case the candidates are in the search of the date sheet of any specific degree program then they can get it from ilmkidunya.com. All the details are provided here for the convenience of the students.
					</p>
					<h2>
						Check Date Sheet 2026
					</h2>
					<p>
						It is informed to all the candidates that they can access the date sheet of all the educational levels such as matric, intermediate, bachelors, and masters. There are various educational boards such as Punjab, Sindh, Baluchistan, and KPK and the date sheet of all these boards can be checked by going through this platform. Moreover, the students can also have the insight into the date sheet announced by the colleges and universities. Apart from this, there are a number of competitive exams/tests such as CSS, PMS, ECAT, and MDCAT and <strong>ilmkidunya.com</strong> provides the date sheet of all these exams. So check the University date sheets, Entry test date sheets, competitive exam date sheets, technical education exam date sheets from this page. To remain in touch with all the latest updates regarding the <strong>date sheet 2026</strong>, keep visiting this portal and get the date sheet without any delay.
					</p>
					<p>
						<strong>All Datesheets 2026 of Matric, Inter, Bachelors and Masters</strong> are available here. Students can get <strong>Datesheets 2026</strong>&nbsp;online on ilmkidunya according to the publications of authorities.
					</p>
				




				</div>
			</div>
		</div>
	</div>
	
	<div class="contact-sec fee-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">

					@await Html.PartialAsync("_maincontenttopbanner")
				</div>
			</div>
		</div>
	</div>
	<div class="content-sec level-wise" style="padding: 30px 0; margin-bottom: 30px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>
						<strong>All Boards Datesheets 2026</strong>
					</h2>
					<p>
						Here you can find out your exams datesheets 2026 of all educational boards of Punjab, Sindh, Khyber Pakhtunkhwa and Baluchistan. <strong>Datesheets 2026</strong> of all colleges / Universities and technical boards are also given here.
					</p>
					<p>
						Moreover, ilmkidunya also publish the Datesheets 2026 of different kind of tests i.e. Entry tests Datesheet 2026, Competitive <strong>Exams Datesheets 2026</strong> etc.
					</p>
				</div>
				<div class="col-lg-12">
					<ul class="ss-class-list">
						<li>
							<a href="/date_sheets/5th-class-date-sheets.aspx">
								<div class="inner-text">
									<span>Class</span>
									<strong>5th</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="/date_sheets/8th-class-date-sheets.aspx" class="sh-red">
								<div class="inner-text">
									<span>Class</span>
									<strong>8th</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="/date_sheets/9th-class-date-sheet.aspx" class="sh-green">
								<div class="inner-text">
									<span>Class</span>
									<strong>9th</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="/date_sheets/10th-class-date-sheet.aspx" class="sh-purple">
								<div class="inner-text">
									<span>Class</span>
									<strong>10th</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="/date_sheets/matric-date-sheet.aspx" class="sh-blue">
								<div class="inner-text">
									<span>&nbsp;</span>
									<strong>Matric</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="/date_sheets/ssc-date-sheet.aspx">
								<div class="inner-text">
									<span>&nbsp;</span>
									<strong>SSC</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="/date_sheets/11th-class-date-sheet.aspx" class="sh-red">
								<div class="inner-text">
									<span>Class</span>
									<strong>11th</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="/date_sheets/12th-class-date-sheet.aspx" class="sh-green">
								<div class="inner-text">
									<span>Class</span>
									<strong>12th</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="/date_sheets/inter-date-sheet.aspx" class="sh-purple">
								<div class="inner-text">
									<span>&nbsp;</span>
									<strong>Inter</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="/date_sheets/fa-date-sheet.aspx" class="sh-blue">
								<div class="inner-text">
									<span>&nbsp;</span>
									<strong>FA</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="/date_sheets/fsc-date-sheet.aspx">
								<div class="inner-text">
									<span>&nbsp;</span>
									<strong>FSc</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="/date_sheets/ics-date-sheet.aspx" class="sh-red">
								<div class="inner-text">
									<span>&nbsp;</span>
									<strong>ICS</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="/date_sheets/icom-date-sheet.aspx" class="sh-green">
								<div class="inner-text">
									<span>&nbsp;</span>
									<strong>I.Com</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="/date_sheets/hssc-date-sheet.aspx" class="sh-purple">
								<div class="inner-text">
									<span>&nbsp;</span>
									<strong>HSSC</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="/date_sheets/bachelors-date-sheet.aspx" class="sh-blue">
								<div class="inner-text">
									<span>&nbsp;</span>
									<strong>BA<br>BSc<br>BCom</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="/llb/date-sheet.aspx">
								<div class="inner-text">
									<span>&nbsp;</span>
									<strong>LLB</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="/date_sheets/master-date-sheet.aspx" class="sh-red">
								<div class="inner-text">
									<span>&nbsp;</span>
									<strong>MA<br>MSc<br>MCom</strong>
								</div>
							</a>
						</li>
					</ul>

				</div>
			</div>
		</div>
	</div>
	<div class="g-add-sec" style="padding: 30px 0 0 0;">
		<div class="container">
			<div class="row">
				@await Html.PartialAsync("_GoogleAd")
			</div>
		</div>
	</div>
	<div class="page-content  pp-sec">
		<div class="container">
			<div class="row">
				<div class="flex-container">
					<!-- Punjab Boards -->
					<div class="col-lg-4">
						<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
							<h4>Punjab Educational Boards Date Sheets:</h4>
							<ul class="citywise-list">
								<li><a href="/date_sheets/bise_lahore_board_datesheets.aspx"><span>BISE Lahore</span></a></li>
								<li><a href="/date_sheets/bise_gujranwala_board_datesheets.aspx"><span>BISE Gujranwala</span></a></li>
								<li><a href="/date_sheets/bise_multan_board_datesheets.aspx"><span>BISE Multan</span></a></li>
								<li><a href="/date_sheets/bise_faisalabad_board_datesheets.aspx"><span>BISE Faisalabad</span></a></li>
								<li><a href="/date_sheets/bise_sargodha_board_datesheets.aspx"><span>BISE Sargodha</span></a></li>
								<li><a href="/date_sheets/bise_rawalpindi_board_datesheets.aspx"><span>BISE Rawalpindi</span></a></li>
								<li><a href="/date_sheets/bise_bhawalpur_board_datesheets.aspx"><span>BISE Bahawalpur</span></a></li>
								<li><a href="/date_sheets/bise_dg_khan_board_datesheets.aspx"><span>BISE DG Khan</span></a></li>
								<li><a href="/date_sheets/bise_sahiwal_board_datesheets.aspx"><span>BISE Sahiwal</span></a></li>
								<li><a href="/date_sheets/bise_federal_board_islamabad_date_sheets.aspx"><span>BISE Federal</span></a></li>
							</ul>
						</div>
					</div>

					<!-- KPK Boards -->
					<div class="col-lg-4">
						<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
							<h4>KPK Educational Boards Date Sheets:</h4>
							<ul class="citywise-list">
								<li><a href="/date_sheets/bise_peshawar_board_datesheets.aspx"><span>BISE Peshawar</span></a></li>
								<li><a href="/date_sheets/bise_swat_board_datesheets.aspx"><span>BISE Swat</span></a></li>
								<li><a href="/date_sheets/bise_kohat_board_datesheets.aspx"><span>BISE Kohat</span></a></li>
								<li><a href="/date_sheets/bise_malakand_board_datesheets.aspx"><span>BISE Malakand</span></a></li>
								<li><a href="/date_sheets/bise_abbottabad_board_datesheets.aspx"><span>BISE Abbottabad</span></a></li>
								<li><a href="/date_sheets/bise_bannu_board_datesheets.aspx"><span>BISE Bannu</span></a></li>
								<li><a href="/date_sheets/bise_mardan_board_datesheets.aspx"><span>BISE Mardan</span></a></li>
								<li><a href="/date_sheets/bise_di_khan_board_date_sheets.aspx"><span>BISE DI Khan</span></a></li>
							</ul>
						</div>
					</div>

					<!-- Sindh Boards -->
					<div class="col-lg-4">
						<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
							<h4>Sindh Educational Boards Date Sheets:</h4>
							<ul class="citywise-list">
								<li><a href="/date_sheets/bise_karachi_board_datesheets.aspx"><span>BISE Karachi</span></a></li>
								<li><a href="/date_sheets/bise_sukkur_board_datesheets.aspx"><span>BISE Sukkur</span></a></li>
								<li><a href="/date_sheets/bise_hyderabad_board_datesheets.aspx"><span>BISE Hyderabad</span></a></li>
								<li><a href="/date_sheets/bise_larkana_board_datesheets.aspx"><span>BISE Larkana</span></a></li>
								<li><a href="/date_sheets/bise_mirpurkhas_board_datesheets.aspx"><span>BISE Mirpurkhas</span></a></li>
								<li><a href="/date_sheets/aga_khan_board_datesheets.aspx"><span>Aga Khan Board</span></a></li>
							</ul>
						</div>
					</div>

					<!-- Balochistan Board -->
					<div class="col-lg-4">
						<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
							<h4>Balochistan Educational Boards Date Sheets:</h4>
							<ul class="citywise-list">
								<li><a href="/date_sheets/bise_quetta_board_datesheets.aspx"><span>BISE Quetta</span></a></li>
							</ul>
						</div>
					</div>

					<!-- AJK Board -->
					<div class="col-lg-4">
						<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
							<h4>BISE AJK Educational Boards Date Sheets:</h4>
							<ul class="citywise-list">
								<li><a href="/date_sheets/bise_ajk_board_datesheets.aspx"><span>BISE AJK</span></a></li>
							</ul>
						</div>
					</div>

					<div class="col-lg-12">
						<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
							<h4>University Date Sheets</h4>
							<ul class="citywise-list">
								<li><a href="/date_sheets/punjab_university_pu_datesheets.aspx"><span>Punjab University</span></a></li>
								<li><a href="/date_sheets/karachi_university_ku_datesheets.aspx"><span>Karachi University</span></a></li>
								<li><a href="/date_sheets/ajk_university_datesheets.aspx"><span>AJK University</span></a></li>
								<li><a href="/date_sheets/bahauddin_zakariya_university_datesheets.aspx"><span>Bahauddin Zakariya University</span></a></li>
								<li><a href="/date_sheets/university_of_sargodha_datesheets.aspx"><span>Sargodha University</span></a></li>
								<li><a href="/date_sheets/islamia_university_bahawalpur_datesheets.aspx"><span>Islamia University Bahawalpur</span></a></li>
								<li><a href="/date_sheets/university_of_peshawar_datesheets.aspx"><span>Peshawar University</span></a></li>
								<li><a href="/date_sheets/university-of-health-sciences-uhs-datesheets.aspx"><span>University of Health Sciences</span></a></li>
								<li><a href="/date_sheets/virtual-university-vu-date-sheets.aspx"><span>Virtual University</span></a></li>
								<li><a href="/date_sheets/balochistan_university_datesheets.aspx"><span>University of Balochistan</span></a></li>
								<li><a href="/date_sheets/allama-iqbal-open-university-aiou-date-sheets.aspx"><span>Allama Iqbal Open University</span></a></li>
								<li><a href="/date_sheets/government-college-university-faisalabad-datesheets.aspx"><span>GCUF University</span></a></li>
								<li><a href="/date_sheets/hazara-university-mansehra-datesheets.aspx"><span>Hazara University</span></a></li>
								<li><a href="/date_sheets/national-university-medical-sciences-datesheet.aspx"><span>NUMS University</span></a></li>
								<li><a href="/date_sheets/liaquat-university-medical-health-sciences-lumhs-date-sheet.aspx"><span>LUMHS University</span></a></li>
								<li><a href="/date_sheets/wifaq-ul-madaris-al-arabia-pakistan-date-sheets.aspx"><span>Wifaq ul Madaris</span></a></li>
								<li><a href="/date_sheets/abdul-wali-khan-university-mardan-datesheets.aspx"><span>Abdul Wali Khan University</span></a></li>
								<li><a href="/date_sheets/tanzeem-ul-madaris-ahl-e-sunnat-pakistan-date-sheets.aspx"><span>Tanzeem ul Madaris</span></a></li>
								<li><a href="/date_sheets/shaheed-zulfiqar-ali-bhutto-medical-university-szabmu-date-sheet.aspx"><span>Shaheed Zulfiqar Ali Bhutto Medical University</span></a></li>
								<li><a href="/date_sheets/gomal_university_datesheets.aspx"><span>Gomal University</span></a></li>
								<li><a href="/date_sheets/university_of_malakand_datesheets.aspx"><span>University of Malakand</span></a></li>
								<li><a href="/date_sheets/university_of_gujrat_datesheets.aspx"><span>University of Gujrat</span></a></li>
								<li><a href="/date_sheets/khyber-medical-university-kmu-datesheet.aspx"><span>KMU Khyber Medical University</span></a></li>
								<li><a href="/date_sheets/king-edward-medical-university-date-sheets.aspx"><span>KEMU King Edward Medical University</span></a></li>
								<li><a href="/date_sheets/university-of-swabi-date-sheet.aspx"><span>University of Swabi</span></a></li>
								<li><a href="/date_sheets/university-of-bannu-datesheets.aspx"><span>University of Bannu</span></a></li>
								<li><a href="/date_sheets/national-university-of-modern-languages-date-sheets.aspx"><span>NUML University</span></a></li>
								<li><a href="/date_sheets/dow-university-of-health-sciences-karachi-date-sheet-2022.aspx"><span>Dow University of Health Sciences</span></a></li>
								<li><a href="/date_sheets/comsats-university-date-sheet.aspx"><span>COMSATS University</span></a></li>
								<li><a href="/date_sheets/university-of-central-punjab-ucp-date-sheets.aspx"><span>University of Central Punjab (UCP)</span></a></li>
								<li><a href="/date_sheets/university-of-veterinary-and-animal-sciences-uvas-date-sheet.aspx"><span>University of Veterinary and Animal Sciences (UVAS)</span></a></li>
							</ul>
						</div>
					</div>
					<!-- Entry Test Date Sheets -->
					<div class="col-lg-4">
						<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
							<h4>Entry Test Date Sheets</h4>
							<ul class="citywise-list">
								<li><a href="/date_sheets/university-of-engineering-technology-lahore-uet-date-sheet.aspx">ECAT Test</a></li>
								<li><a href="/mcat/mcat-test-date-sheet.aspx">MDCAT Test</a></li>
								<li><a href="/date_sheets/nums-entry-test-date-sheet.aspx">NUMS Test</a></li>
								<li><a href="/date_sheets/nts-nat-test-date-sheet.aspx">NAT Test</a></li>
								<li><a href="/date_sheets/nts-gat-general-test-date-sheet.aspx">GAT(G) Test</a></li>
								<li><a href="/date_sheets/nts-gat-subject-test-date-sheet.aspx">GAT(S) Test</a></li>
								<li><a href="/date_sheets/liaquat-university-medical-health-sciences-entry-test-date-sheet.aspx">LUMHS Test</a></li>
								<li><a href="/lat/date-sheet">LAT Test</a></li>
								<li><a href="/date_sheets/nust-net-entry-test-date-sheet.aspx">NUST NET Test</a></li>
								<li><a href="/date_sheets/inter-services-selection-board-issb-date-sheet.aspx">ISSB Test</a></li>
								<li><a href="/date_sheets/educational-testing-evaluation-agency-etea-entry-test-date-sheet.aspx">ETEA Test</a></li>
								<li><a href="/date_sheets/pakistan-institute-of-engineering-and-applied-science-islamabad-entry-test-date-sheet.aspx">PIEAS Test</a></li>
								<li><a href="/date_sheets/ghulam-ishaq-khan-institute-entry-test-date-sheet.aspx">GIKI Test</a></li>
								<li><a href="/date_sheets/national-licensing-examination-nle-date-sheet.aspx">NLE Test</a></li>
								<li><a href="/date_sheets/cambridge-assessment-international-education-date-sheet.aspx">Cambridge International Test</a></li>
							</ul>
						</div>
					</div>

					<!-- Competitive Exams -->
					<div class="col-lg-4">
						<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
							<h4>Competitive Exams Date Sheets</h4>
							<ul class="citywise-list">
								<li><a href="/date_sheets/css_examination_datesheets.aspx">CSS</a></li>
								<li><a href="/date_sheets/federal-public-service-commission-fpsc-date-sheet.aspx">FPSC</a></li>
								<li><a href="/spsc/test-dates">SPSC</a></li>
								<li><a href="/kppsc/test-dates">KPPSC</a></li>
								<li><a href="/ajkpsc/test-dates">AJKPSC</a></li>
								<li><a href="/date_sheets/pcs_pms_exam_datesheets.aspx">PMS/PCS</a></li>
							</ul>
						</div>
					</div>

					<!-- Technical Education -->
					<div class="col-lg-4">
						<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
							<h4>Technical Education Exams Date Sheets</h4>
							<ul class="citywise-list">
								<li><a href="/date_sheets/punjab_board_of_technical_education_lahore_datesheets.aspx">Punjab Board</a></li>
								<li><a href="/date_sheets/sindh_board_of_technical_education_karachi_datesheets.aspx">Sindh Board</a></li>
								<li><a href="/date_sheets/nwfp_board_of_technical_education_peshawar_datesheets.aspx">KPK Board</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</div>
		
	</div>


	
</div>