@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

 @section MetaData {
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            Result 2026 Check Online by Roll No All Board Exams of Matric and Inter
        </title>
        <meta name="description" content="Updates on Result 2026 Online by Roll No All Board Exams of Matric and Inter. Here you can check the results 2026 of Lahore board and other Pakistani boards as well." />
        <link rel="canonical" href="https://www.ilmkidunya.com/results/" />
        <meta name="keywords" content="result 2026, check result by roll no 2026, online result 2026, www.edu.pk result 2026, check result online, bise result 2026
board result 2026" />
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="ilmkidunya.com" />
        <meta property="og:title" content="Result 2026 Check Online by Roll No All Board Exams of Matric and Inter" />
        <meta property="og:description" content="Updates on Result 2026 Online by Roll No All Board Exams of Matric and Inter. Here you can check the results 2026 of Lahore board and other Pakistani boards as well." />
        <meta property="og:url" content="https://www.ilmkidunya.com/results/" />
	    
        <meta property="fb:app_id" content="168405456658643" />
        <meta property="og:image:width" content="300" />
        <meta property="og:image:height" content="300" />
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="ilmkidunya">
        <meta name="twitter:image" content="https://ikddata.ilmkidunya.com/images/ilmkidunya-logo-2.jpg">
        <meta name="twitter:title" content="Result 2026 Check Online by Roll No All Board Exams of Matric and Inter">
        <meta name="twitter:description" content="Updates on Result 2026 Online by Roll No All Board Exams of Matric and Inter. Here you can check the results 2026 of Lahore board and other Pakistani boards as well.">
    <meta name="Rob343ots" content="noindex,nofollow" />

    <meta name="publisher" content="ilmkidunya.com" />
}

@section header {
	<div class="col-lg-11">
		<ul class="navigation">
			<li>
				<a aria-label="link" href="/results/">
					<img src="https://images.ishallwin.com/nav-icons/chem-nav-1.webp" alt="image" />
					Home
				</a>
			</li>

			<li>
				<a aria-label="link" href="#">
					<img src="https://images.ishallwin.com/nav-icons/chem-nav-2.webp" alt="image" />
					Matric Result
				</a>
				<div class="mega-menu full-width">
					<div class="mega-menu-wrapper">
						<div class="mega-menu-top">
							<div class="menu-left-box">
								<div class="mega-menu-list">
									<h2 class="ds-heading"><a class="dynamic-link" href="#">Matric Result</a></h2>
									<ol>
										<li><a class="dynamic-link" href="/results/9th-class-result.aspx">9th Class</a></li>
										<li><a class="dynamic-link" href="/results/10th-class-result.aspx">10th Class</a></li>
										<li><a class="dynamic-link" href="/results/ssc-part-1-2-result.aspx">SSC Class</a></li>
										<li><a class="dynamic-link" href="/results/matric-result.aspx">Matric Class</a></li>
									</ol>
								</div>
							</div>
							<div class="menu-right-box"></div>
						</div>
					</div>
				</div>
			</li>

			<li>
				<a aria-label="link" href="#">
					<img src="https://images.ishallwin.com/nav-icons/chem-nav-3.webp" alt="image" />
					Inter Result
				</a>
				<div class="mega-menu full-width">
					<div class="mega-menu-wrapper">
						<div class="mega-menu-top">
							<div class="menu-left-box">
								<div class="mega-menu-list">
									<h2 class="ds-heading"><a class="dynamic-link" href="#">Inter Result</a></h2>
									<ol>
										<li><a class="dynamic-link" href="/results/11th-class-result.aspx">11th Class</a></li>
										<li><a class="dynamic-link" href="/results/12th-class-result.aspx">12th Class</a></li>
										<li><a class="dynamic-link" href="/results/fa-part-1-2-result.aspx">FA Class</a></li>
										<li><a class="dynamic-link" href="/results/fsc-result.aspx">FSc Class</a></li>
										<li><a class="dynamic-link" href="/results/icom-part-1-2-result.aspx">ICOM Class</a></li>
										<li><a class="dynamic-link" href="/results/ics-part-1-2-result.aspx">ICS Class</a></li>
										<li><a class="dynamic-link" href="/results/inter-result.aspx">Inter Class</a></li>
										<li><a class="dynamic-link" href="/results/hssc-part-1-2-result.aspx">HSSC Class</a></li>
									</ol>
								</div>
							</div>
							<div class="menu-right-box"></div>
						</div>
					</div>
				</div>
			</li>

			<li>
				<a aria-label="link" href="/results/all-boards-result.aspx">
					<img src="https://images.ishallwin.com/nav-icons/chem-nav-4.webp" alt="image" />
					All Board Result
				</a>
			</li>

			<li>
				<a aria-label="link" href="/results/all-universities-result.aspx">
					<img src="https://images.ishallwin.com/nav-icons/chem-nav-5.webp" alt="image" />
					All Universities Result
				</a>
			</li>

			<li>
				<a aria-label="link" href="/results/all-entry-test-result.aspx">
					<img src="https://images.ishallwin.com/nav-icons/chem-nav-6.webp" alt="image" />
					All Entry Test Result
				</a>
			</li>

			<li>
				<a aria-label="link" href="https://www.ilmkidunya.com/edunews/news-categories/results.aspx">
					<img src="https://images.ishallwin.com/nav-icons/chem-nav-7.webp" alt="image" />
					Result News
				</a>
			</li>

			<li>
				<a aria-label="link" href="https://www.ilmkidunya.com/apps/results">
					<img src="https://images.ishallwin.com/nav-icons/chem-nav-8.webp" alt="image" />
					Result App
				</a>
			</li>

		</ul>
	</div>
}

@section innerbanner {
	<div class="ss-banner-inner">
		<div class="ss-container">
			<div class="ss-row">
				<div class="ss-col-lg-12">
					<div class="ss-text-holder">
						<h1>Latest Updates on Exam Results 2026 of Various Boards for Matric & Inter Exams</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
}

<div id="main">
	<div class="content-sec" style="padding: 30px 0 20px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p>
						Check your <strong>result 2026</strong>&nbsp;online updates on ilmkidunya.com according to the issued date by the Board. You can search the exam results for every educational board of Pakistan. The notification of <strong>online result 2026</strong>&nbsp;of Colleges and Universities in Pakistan will available on our website after the result announcement. We have a huge collection of gazettes of SSC and HSSC classes. The news about the latest and old results of all educational Boards is published on our website. The result updates of all programs including B.A, B.Com, BSc, M.A, M.Com, and MSc of different Universities are available here. We are also providing the result of entry tests including NAT, GAT, MCAT, ECAT etc.
					</p>
					<p>
						You just need to select your class and respective board to get your latest exam results on the internet.&nbsp;
					</p>
					<h2>
						Ways to Check Result Online&nbsp;
					</h2>
					<p>
						On our website, we have mentioned different ways of result checking. You can visit the website and <strong>check result by roll no 2026. </strong>The name is another way to check the result of your respective class. In an offline way, we have mentioned the procedure of SMS through which you can check the result of your respective Board. Every Board issues an SMS code that is used to check your result. We also have a huge collection of the gazette. The gazette is another way to <strong>check result online.</strong>
					</p>

					<h2>
						Result Updates of all Educational Boards 2026
					</h2>
					<p>
						Ilmkidunya is an educational website that provides you with all the <strong>latest news and updates</strong> regarding your results. After the announcement of the final result, we update our students as soon as possible of all the board result in 2026. We provide all the essential details regarding the result including the date and time and the announcement of the position holder’s result.&nbsp;
					</p>
				

				</div>
			</div>
		</div>
	</div>

	<div class="content-sec level-wise" style="padding: 30px 0; margin-bottom: 30px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>Matric Class Result 2026</h2>
					<p>Matric class exams are the main event of the education system throughout Pakistan. The education system at the matric level is divided into the boards of education throughout the country. The boards of education are divided into the provinces. For example, Punjab boards of education, Sindh boards of education, KPK boards of education, Baluchistan boards of education, and AJK boards of education, etc.</p>
				</div>
				<div class="col-lg-12">
					<ul class="ss-class-list">
						<li>
							<a href="/results/5th-class-results.aspx">
								<div class="inner-text">
									<span>Class</span>
									<strong>5th</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="/results/8th-class-results.aspx" class="sh-red">
								<div class="inner-text">
									<span>Class</span>
									<strong>8th</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="/results/9th-class-result.aspx" class="sh-green">
								<div class="inner-text">
									<span>Class</span>
									<strong>9th</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="/results/10th-class-result.aspx" class="sh-purple">
								<div class="inner-text">
									<span>Class</span>
									<strong>10th</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="/results/matric-result.aspx" class="sh-blue">
								<div class="inner-text">
									<span>&nbsp;</span>
									<strong>Matric</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="/results/ssc-part-1-2-result.aspx">
								<div class="inner-text">
									<span>&nbsp;</span>
									<strong>SSC</strong>
								</div>
							</a>
						</li>
					</ul>

				</div>
				<div class="col-lg-12">
					<h2>
						Intermediate Class Result 2026
					</h2>
					<p>
						After matric class, the intermediate level of education is considered the most important one level. The reason behind it is that the intermediate level of education assesses your academic values and offers you the opportunity to choose your career. There are several study programs we find at the intermediate level of education. For example, students are getting enrolment in the FSC study program, ICS study program, ICOM study program, DCOM study program, and FA study program, etc.
					</p>


					<ul class="ss-class-list">
						<li>
							<a href="/results/11th-class-result.aspx" class="sh-red">
								<div class="inner-text">
									<span>Class</span>
									<strong>11th</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="/results/12th-class-result.aspx" class="sh-green">
								<div class="inner-text">
									<span>Class</span>
									<strong>12th</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="/results/inter-result.aspx" class="sh-purple">
								<div class="inner-text">
									<span>&nbsp;</span>
									<strong>Inter</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="/results/fa-part-1-2-result.aspx" class="sh-blue">
								<div class="inner-text">
									<span>&nbsp;</span>
									<strong>FA</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="/results/fsc-result.aspx">
								<div class="inner-text">
									<span>&nbsp;</span>
									<strong>FSc</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="/results/ics-part-1-2-result.aspx" class="sh-red">
								<div class="inner-text">
									<span>&nbsp;</span>
									<strong>ICS</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="/results/icom-part-1-2-result.aspx" class="sh-green">
								<div class="inner-text">
									<span>&nbsp;</span>
									<strong>I.Com</strong>
								</div>
							</a>
						</li>
						<li>
							<a href="/results/hssc-part-1-2-result.aspx" class="sh-purple">
								<div class="inner-text">
									<span>&nbsp;</span>
									<strong>HSSC</strong>
								</div>
							</a>
						</li>
					</ul>

				</div>
			</div>
		</div>
	</div>
	<div class="contact-sec fee-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					
					<ul class="ss-ads" style="border: 0; padding-top: 0; margin: 0;">
						@await Html.PartialAsync("_maincontenttopbanner")
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="page-content pp-sec">
		<div class="container">
			<div class="row">
				<div class="col-lg-12" style="float:none;">
					<h2 class="ss-profession">Matric & Inter Results</h2>
				</div>
				<div class="flex-container result">
					<div class="col-lg-4">
						<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
							<h4>Punjab Educational Boards Results:</h4>
							<ul class="citywise-list">
								<li><a href="/results/bise_lahore_result.aspx"><span>BISE Lahore Result</span></a></li>
								<li><a href="/results/bise_gujranwala_result.aspx"><span>BISE Gujranwala Result</span></a></li>
								<li><a href="/results/bise_multan_result.aspx"><span>BISE Multan Result</span></a></li>
								<li><a href="/results/bise_faisalabad_result.aspx"><span>BISE Faisalabad Result</span></a></li>
								<li><a href="/results/bise_sargodha_result.aspx"><span>BISE Sargodha Result</span></a></li>
								<li><a href="/results/bise_rawalpindi_result.aspx"><span>BISE Rawalpindi Result</span></a></li>
								<li><a href="/results/bise_bhawalpur_result.aspx"><span>BISE Bahawalpur Result</span></a></li>
								<li><a href="/results/bise_dg_khan_result.aspx"><span>BISE DG Khan Result</span></a></li>
								<li><a href="/results/bise_sahiwal_result.aspx"><span>BISE Sahiwal Result</span></a></li>
								<li><a href="/results/bise_federal_result.aspx"><span>BISE Federal Result</span></a></li>
							</ul>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
							<h4>KPK Educational Boards Results:</h4>
							<ul class="citywise-list">
								<li><a href="/results/bise_peshawar_result.aspx"><span>BISE Peshawar Result</span></a></li>
								<li><a href="/results/bise_swat_result.aspx"><span>BISE Swat Result</span></a></li>
								<li><a href="/results/bise_kohat_result.aspx"><span>BISE Kohat Result</span></a></li>
								<li><a href="/results/bise_malakand_result.aspx"><span>BISE Malakand Result</span></a></li>
								<li><a href="/results/bise_abbottabad_result.aspx"><span>BISE Abbottabad Result</span></a></li>
								<li><a href="/results/bise_bannu_result.aspx"><span>BISE Bannu Result</span></a></li>
								<li><a href="/results/bise_mardan_result.aspx"><span>BISE Mardan Result</span></a></li>
								<li><a href="/results/bise_di_khan_result.aspx"><span>BISE DI Khan Result</span></a></li>
							</ul>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
							<h4>Sindh Educational Boards Results:</h4>
							<ul class="citywise-list">
								<li><a href="/results/bise_karachi_result.aspx"><span>BISE Karachi Result</span></a></li>
								<li><a href="/results/bise_sukkur_result.aspx"><span>BISE Sukkur Result</span></a></li>
								<li><a href="/results/bise_hyderabad_result.aspx"><span>BISE Hyderabad Result</span></a></li>
								<li><a href="/results/bise_larkana_result.aspx"><span>BISE Larkana Result</span></a></li>
								<li><a href="/results/bise_mirpurkhas_result.aspx"><span>BISE Mirpurkhas Result</span></a></li>
								<li><a href="/results/aga_khan_board_result.aspx"><span>Aga Khan Board Result</span></a></li>
								<li><a href="/results/bise_nawabshah_result.aspx"><span>Nawabshah Board Result</span></a></li>
								<li><a href="/results/ziauddin-university-examination-board-result.aspx"><span>Ziauddin Board Result</span></a></li>
							</ul>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
							<h4>Balochistan Educational Boards Results:</h4>
							<ul class="citywise-list">
								<li><a href="/results/bise_quetta_result.aspx"><span>BISE Quetta Result</span></a></li>
								<li><a href="/results/balochistan-board-8th-class-result.aspx"><span>Balochistan 8th Class Result</span></a></li>
							</ul>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
							<h4>BISE AJK Educational Boards Result:</h4>
							<ul class="citywise-list">
								<li><a href="/results/bise_ajk_result.aspx"><span>BISE AJK Result</span></a></li>
							</ul>
						</div>
					</div>
				</div>

							@await Html.PartialAsync("_GoogleAd")

				<div class="col-lg-12" style="float:none;">
					<h2 class="ss-profession">Universities Results</h2>
				</div>
				<div class="flex-container">
					<div class="col-lg-4">
						<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
							<ul class="citywise-list">
								
									<li>
										<a href="/results/abdul-wali-khan-university-mardan-results.aspx" title="Abdul Wali Khan University">Abdul Wali Khan University Result</a>
									</li>
									<li>
										<a href="/results/aga_khan_university_results.aspx">Aga Khan University Result</a>
									</li>
									<li>
										<a href="/results/azad_jammu_kashmir_university_ajku_results.aspx" title="University of Azad Jammu and Kashmir (AJKU) Results">AJK University Result</a>
									</li>
									<li>
										<a href="/results/allama-iqbal-open-university-aiou-results.aspx" title="Allama Iqbal Open University Results (AIOU) Results">Allama Iqbal Open University Result</a>
									</li>
									<li>
										<a href="/results/balochistan-university-of-engineering-technology-khuzdar-results.aspx" title="Bacha Khan University">BUET Khuzdar Results</a>
									</li>
									<li>
										<a href="/results/bacha-khan-university-result.aspx" title="Bacha Khan University">Bacha Khan University Result</a>
									</li>
									<li>
										<a href="/results/bahauddin_zakariya_university_results.aspx" title="Bahauddin Zakariya University (BZU) Multan Results">Bahauddin Zakariya University Result</a>
									</li>
									<li>
										<a href="/results/bannu-university-result.aspx" title="Bannu University">Bannu University Result</a>
									</li>
									<li>
										<a href="/results/government_college_university_lahore_results.aspx">GCU Lahore Result</a>
									</li>
									<li>
										<a href="/results/government_college_university_faisalabad_results.aspx">GCUF Result</a>
									</li>
									<li>
										<a href="/results/gomal-university-results.aspx" title="Gomal University Result">Gomal University Result Result</a>
									</li>
									<li>
										<a href="/results/govt-queen-mary-graduate-college-results.aspx">Govt. Queen Mary Graduate College Result</a>
									</li>
									<li>
										<a href="/results/gujrat-university-results.aspx" title="Gujrat University">Gujrat University Result</a>
									</li>
									<li>
										<a href="/results/hazara-university-results.aspx" title="Hazara University">Hazara University Result</a>
									</li>
									<li>
										<a href="/results/islamia_university_of_bahawalpur_results.aspx" title="Islamia University Bahawalpur (IUB) Results">Islamia University Bahawalpur Result</a>
									</li>
									<li>
										<a href="/results/karakoram-international-university-results.aspx" target="_blank">Karakoram International University Results</a>
									</li>
									<li>
										<a href="/results/karachi_university_results.aspx" title="University of Karachi (UoK) Results">Karachi University Result</a>
									</li>
									<li>
										<a href="/results/khyber-medical-university-result.aspx" title="Khyber Medical University">Khyber Medical University Result</a>
									</li>
									<li>
										<a href="/results/king-edward-medical-university-results.aspx" title="King Edward Medical University">King Edward Medical University Result</a>
									</li>
									<li>
										<a href="/results/liaquat-university-of-medical-and-health-sciences-result.aspx" title="LUHMS University">LUHMS University Result</a>
									</li>
									<li>
										<a href="/results/national-university-of-medical-sciences-result.aspx" title="NUMS University">NUMS University Result</a>
									</li>
									<li>
										<a href="/results/peshawar_university_results.aspx" title="University of Peshawar (UPESH) Results">Peshawar University Result</a>
									</li>
									<li>
										<a href="/results/punjab_university_results.aspx" title="University of the Punjab Lahroe (PU Lahore) Results">Punjab University Result</a>
									</li>
									<li>
										<a href="/results/punjab-medical-faculty-results.aspx" title="Punjab Medical Faculty">Punjab Medical Faculty Result</a>
									</li>
									<li>
										<a href="/results/sargodha_university_results.aspx" title="University of Sargodha (UoS) Results">Sargodha University Result</a>
									</li>
									<li>
										<a href="/results/university-of-sindh-result.aspx" title="Sindh University">Sindh University Result</a>
									</li>
									<li>
										<a href="/results/swabi-university-results.aspx" title="Swabi University">Swabi University Result</a>
									</li>
									<li>
										<a href="/results/university-of-swat-result.aspx" title="Swat University">Swat University Result</a>
									</li>
									<li>
										<a href="/results/university-of-balochistan-result.aspx" title="University Of Balochistan">University Of Balochistan Result</a>
									</li>
									<li>
										<a href="/results/university-of-health-science-results.aspx" title="University of Health Science">University of Health Science Result</a>
									</li>
									<li>
										<a href="/results/malakand-university-results.aspx" title="University Of Malakand">University Of Malakand Result</a>
									</li>
									<li>
										<a href="/results/quaid_i_azam_university_results.aspx">University of Quaid-i-Azam Result</a>
									</li>
									<li>
										<a href="/results/virtual-university-vu-results.aspx" title="Virtual Univeristy (VU) Results">Virtual University Result</a>
									</li>
									<li>
										<a href="/results/wifaq-ul-madaris-result.aspx" title="Wafaq Ul Madaris Al Arabia">Wifaq Ul Madaris Al Arabia Result</a>
									</li>
									<li>
										<a href="/results/shah-abdul-latif-university-khairpur-result.aspx" title="hah Abdul Latif University Khairpur Result">Shah Abdul Latif University Khairpur Result</a>
									</li>
									<li>
										<a href="/results/balochistan-university-of-engineering-technology-khuzdar-buetk-result.aspx" title="Balochistan University of Engineering Technology, Khuzdar BUETK Result">Balochistan University of Engineering Technology, Khuzdar BUETK Result</a>
									</li>
									<li>
										<a href="/results/international-islamic-university-islamabad-iiui-result.aspx" title="International Islamic University Islamabad IIUI">International Islamic University Islamabad IIUI Result</a>
									</li>
									<li>
										<a href="/results/bahria-university-result.aspx" title="Bahria University">Bahria University Result</a>
									</li>
									<li>
										<a href="/results/university-of-agriculture-faisalabad-uaf-result.aspx" title="University of Agriculture">University of Agriculture Result</a>
									</li>
									<li>
										<a href="/results/air-university-results.aspx" title="Air University Islamabad Result">Air University Islamabad Result</a>
									</li>
									<li>
										<a href="/results/jinnah-sindh-medical-university-jsmu-result.aspx" title="Jinnah Sindh Medical University JSMU Result">Jinnah Sindh Medical University JSMU Result</a>
									</li>
									<li>
										<a href="/results/balochistan-university-of-information-technology-engineering-and-management-sciences-buitems-results.aspx" title="BUITEMS Results">BUITEMS Results</a>
									</li>
									<li>
										<a href="/results/khadim-ali-shah-bukhari-institute-of-technology-kasbit-result.aspx" title="KASBIT Result">KASBIT Result</a>
									</li>
									<li>
										<a href="/results/quality-enhancement-cell-of-university-of-agriculture-qec-uaf-result.aspx" title="QEC UAF Result">QEC UAF Result</a>
									</li>
									<li>
										<a href="/results/sindh-agriculture-university-tandojam-sau-result.aspx" title="Sindh Agriculture University Tandojam SAU">Sindh Agriculture University Tandojam SAU Result</a>
									</li>
									<li>
										<a href="/results/institute-of-business-administration-iba-karachi-result.aspx" title="Institute Of Business Administration IBA Karachi Result">Institute Of Business Administration IBA Karachi Result</a>
									</li>
									<li>
										<a href="/results/national-university-of-modern-languages-numl-result.aspx" title="National University of Modern Languages NUML Result">National University of Modern Languages NUML Result</a>
									</li>
									<li>
										<a href="/results/heavy-industries-taxila-education-city-hitec-university-result.aspx" title="HITEC University Result">HITEC University Result</a>
									</li>
									<li>
										<a href="/results/khyber-pakhtunkhwa-elementary-and-secondary-education-department-kpesed-result.aspx" title="KPESED Result">KPESED Result</a>
									</li>
									<li>
										<a href="/results/ned-university-of-engineering-and-technology-result.aspx" title="NED University">NED University</a>
									</li>
									<li>
										<a href="/results/university-of-veterinary-and-animal-sciences-uvas-result.aspx" title="University of Veterinary and Animal Sciences UVAS Results">University of Veterinary and Animal Sciences UVAS Results</a>
									</li>
									<li>
										<a href="/results/university-of-chakwal-uoc-result.aspx" title="University of Chakwal UOC Result">University of Chakwal UOC Result</a>
									</li>
									<li>
										<a href="/results/sarhad-university-of-science-and-information-technology-suit-result.aspx" title="Sarhad University Result">Sarhad University Result</a>
									</li>
									<li>
										<a href="/results/lahore-garrison-university-lgu-results.aspx" title="Lahore Garrison University LGU Result">Lahore Garrison University LGU Result</a>
									</li>
									<li>
										<a href="/results/preston-university-result.aspx" title="Preston University Result">Preston University Result</a>
									</li>
									<li>
										<a href="/results/college-of-physicians-and-surgeons-pakistan-cpsp-result.aspx" title="College of Physicians and Surgeons Pakistan CPSP Result">College of Physicians and Surgeons Pakistan CPSP Result</a>
									</li>
									<li>
										<a href="shaheed-zulfikar-ali-bhutto-institute-of-science-and-technology-szabist-result.aspx" title="SZABIST Result">SZABIST Result</a>
									</li>
									<li>
										<a href="/results/sindh-electronic-centralized-college-admission-program-seccap-result.aspx" title="SECCAP Result">SECCAP Result</a>
									</li>
									<li>
										<a href="/results/lasbela-university-of-agriculture-water-and-marine-sciences-luawms-result.aspx" title="LUAWMS Result">LUAWMS Result</a>
									</li>
									<li>
										<a href="/results/university-of-engineering-and-technology-uet-taxila-result.aspx" title="UET Taxila Result">UET Taxila Result</a>
									</li>
									<li>
										<a href="/results/university-of-engineering-and-technology-uet-peshawar-result.aspx" title="UET Peshawar Result">UET Peshawar Result</a>
									</li>
									<li>
										<a href="/results/fast-university-results.aspx" title="FAST University Result">FAST University Result</a>
									</li>
									<li>
										<a href="/results/pakistan-institute-of-engineering-and-applied-sciences-pieas-result.aspx" title="UET Taxila Result">PIEAS Institute Result</a>
									</li>
									<li>
										<a href="/results/university-of-lakki-marwat-ulm-result.aspx" title="University of Lakki Marwat ULM Result">University of Lakki Marwat ULM Result</a>
									</li>
									<li>
										<a href="/results/national-defence-university-ndu-result.aspx" title="National Defence University NDU Result">National Defence University NDU Result</a>
									</li>
								
							</ul>
						</div>
					</div>
				</div>
				
				<div class="col-lg-12" style="float:none;">
					<h2 class="ss-profession">Entry Test Results</h2>
				</div>
				<div class="flex-container">
					<div class="col-lg-4">
						<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
							<ul class="citywise-list">
								<li>
									<a href="/results/ecat_entrytest_result.aspx" title="ECAT Results">ECAT Test Result</a>
								</li>
								<li>
									<a href="/mcat/mcat-test-result.aspx" title="MCAT Results">MDCAT Test Result</a>
								</li>
								<li>
									<a href="/results/must-entry-test-result.aspx" title="MUST Entry Test">MUST Result</a>
								</li>
								<li>
									<a href="/nums-entry-test/results.aspx" title="NUMS Entry Test">NUMS Result</a>
								</li>
								<li>
									<a href="/results/nts-nat-test-result.aspx" title="NTS NAT">NTS NAT Result</a>
								</li>
								<li>
									<a href="/results/nts-gat-subject-test-result.aspx" title="NTS GAT">NTS GAT S Result</a>
								</li>
								<li>
									<a href="/results/nts-gat-general-test-result.aspx" title="NTS GAT G">NTS GAT G Result</a>
								</li>
								<li>
									<a href="/results/hec-law-gat-test-result.aspx" title="HEC LAW">HEC LAW Result</a>
								</li>
								<li>
									<a href="/results/hec-lat-test-result.aspx" title="HEC LAT">HEC LAT Result</a>
								</li>
								<li>
									<a href="/results/cts-result.aspx" title="CTS Test">CTS Test Result</a>
								</li>
								<li>
									<a href="/results/kpk-medical-faculty-result.aspx" title="KPMF Test">KPMF Test Result</a>
								</li>
								<li>
									<a href="/results/ctsp-career-testing-services-pakistan-result.aspx" title="CTSP Test">CTSP Test Result</a>
								</li>
								<li>
									<a href="/results/interior-testing-service-its-result.aspx" title="ITS Test">ITS Test Result</a>
								</li>
								<li>
									<a href="/results/duet-entry-test-result.aspx" title="DUET Test">DUET Test Result</a>
								</li>
								<li>
									<a href="/results/etea-entry-test-result.aspx" title="ETEA Test">ETEA Test Result</a>
								</li>
								<li>
									<a href="/results/punjab-medical-faculty-results.aspx" title="PMF Test">PMF Test Result</a>
								</li>
								<li>
									<a href="/results/join-pak-navy-test-result.aspx" title="PAK Navy Test">Join PAK Navy Result</a>
								</li>
								<li>
									<a href="/results/airport-security-force-asf-result.aspx" title="PAK Navy Test">Join ASF Result</a>
								</li>
								<li>
									<a href="/results/prize-bonds.aspx" title="Prize Bonds">Prize Bonds Result</a>
								</li>
								<li>
									<a href="/results/online-testing-service-ots-result.aspx" title="OTS">OTS Result</a>
								</li>
								<li>
									<a href="/results/fmdc-entry-test-result.aspx" title="FMDC">FMDC Result</a>
								</li>
								<li>
									<a href="/results/neduet-entry-test-result.aspx" title="NEDUET Test">NEDUET Test Result</a>
								</li>
								<li>
									<a href="/results/hec-law-gat-test-result.aspx" title="NEDUET Test">HEC GAT Test Result</a>
								</li>
								<li>
									<a href="/results/hec-higher-education-aptitude-test-hat-result.aspx">HEC HAT Test Result</a>
								</li>
								<li>
									<a href="/results/ielts-test-result.aspx">IELTS Test Result</a>
								</li>
								<li>
									<a href="/results/usat-result.aspx">USAT Result</a>
								</li>
								<li>
									<a href="/results/kmu-khyber-medical-university-cat-result.aspx" target="_blank">KMU CAT Result</a>
								</li>
								<li>
									<a href="/results/icats-contest-result.aspx" target="_blank">ICAT Contest Result</a>
								</li>
								<li>
									<a href="/results/national-licensing-examination-nle-result.aspx" target="_blank">NLE Result</a>
								</li>
								<li>
									<a href="/results/national-information-technology-board-nitb-result.aspx" target="_blank">NITB Result</a>
								</li>
								<li>
									<a href="/results/nursing-examination-board-punjab-nebp-result.aspx" target="_blank">NEBP Result</a>
								</li>
								<li>
									<a href="/results/bano-qabil-result.aspx" target="_blank">Bano Qabil Result</a>
								</li>
								<li>
									<a href="/results/punjab-pharmacy-council-ppc-result.aspx" target="_blank">Punjab Pharmacy Council Result</a>
								</li>
								<li>
									<a href="/results/military-college-jhelum-mcj-result.aspx" target="_blank">Military College Jhelum MCJ Result </a>
								</li>
								<li>
									<a href="/results/military-college-sui-result.aspx" target="_blank">Military College SUI Result </a>
								</li>
								<li>
									<a href="/results/punjab-daanish-schools-and-centres-of-excellence-authority-result.aspx" target="_blank">Punjab Daanish School Result </a>
								</li>
								<li>
									<a href="/results/ministry-of-defence-mod-result.aspx" target="_blank">Ministry of Defence MOD Result </a>
								</li>
								<li>
									<a href="/results/islamabad-capital-police-result.aspx" target="_blank">Islamabad Capital Police Result </a>
								</li>
								<li>
									<a href="/results/maarif-inter-school-maths-olympiad-mismo-result.aspx" target="_blank">MISMO Result</a>
								</li>
								<li>
									<a href="/results/times-institute-multan-result.aspx" target="_blank">Times Institute Result </a>
								</li>
								<li>
									<a href="/results/jdc-free-it-city-result.aspx" target="_blank">JDC Free IT City Result </a>
								</li>
								<li>
									<a href="/results/bloomfield-hall-school-bhs-result.aspx" target="_blank">Bloomfield Hall School BHS Result </a>
								</li>
								<li>
									<a href="/results/military-college-murree-mcm-result.aspx" target="_blank">Military College Murree MCM Result </a>
								</li>
								<li>
									<a href="/results/cadet-college-mohmand-ccm-result.aspx" target="_blank">Cadet College Mohmand CCM Result </a>
								</li>
								<li>
									<a href="/results/international-bebras-informatics-contest-ibic-result.aspx" target="_blank">IBIC Result</a>
								</li>
								<li>
									<a href="/results/cambridge-assessment-international-education-caie-result.aspx" target="_blank">Cambridge International CAIE Result</a>
								</li>
								<li>
									<a href="/results/institute-of-cost-and-management-accountants-of-pakistan-icmap-result.aspx" target="_blank">ICMAP Result</a>
								</li>
								<li>
									<a href="/results/benazir-income-support-program-bisp-result.aspx" target="_blank">Benazir Income Support Result</a>
								</li>
								<li>
									<a href="/results/lahore-high-court-lhc-result.aspx" target="_blank">Lahore High Court Result</a>
								</li>
								<li>
									<a href="/results/pakistan-testing-service-pts-result.aspx" target="_blank">Pakistan Testing Service PTS Result</a>
								</li>
								<li>
									<a href="/results/punjab-police-written-result.aspx" title="Punjab Police Written Test Result">Punjab Police Written Test Result</a>
								</li>
								<li>
									<a href="/results/siba-testing-service-sts-result.aspx" title="SIBA Testing Services STS">SIBA Testing Services STS</a>
								</li>
								<li>
									<a href="/results/international-kangaroo-linguistic-contest-iklc-result.aspx" title="International Kangaroo Linguistic Contest IKLC">International Kangaroo Linguistic Contest IKLC</a>
								</li>
								<li>
									<a href="/results/institute-of-bankers-pakistan-ibp-result.aspx" title="Institute of Bankers Pakistan">IBP Result</a>
								</li>
								<li>
									<a href="/results/iba-sukkur-testing-service-sts-result.aspx" title="IBA Sukkur Testing Service STS">IBA Sukkur Testing Service STS</a>
								</li>
								<li>
									<a href="/results/pakistan-agricultural-research-council-parc-result.aspx" title="Pakistan Agricultural Research Council PARC">Pakistan Agricultural Research Council PARC</a>
								</li>
								<li>
									<a href="/results/overseas-employment-corporation-oec-result.aspx" title="Overseas Employment Corporation OEC Result">Overseas Employment Corporation OEC Result</a>
								</li>
								<li>
									<a href="/results/dar-e-arqam-schools-result.aspx" title="Dar-e-Arqam Schools Result">Dar-e-Arqam Schools Result</a>
								</li>
								<li>
									<a href="/results/hrca-mega-event-result.aspx" title="HRCA Mega Event Result">HRCA Mega Event Result</a>
								</li>
								<li>
									<a href="/results/peoples-primary-healthcare-initiative-pphi-result.aspx" title="Peoples Primary Healthcare Initiative PPHI Result">Peoples Primary Healthcare Initiative PPHI Result</a>
								</li>
								<li>
									<a href="/results/army-public-schools-and-colleges-system-apsacs-result.aspx" title="APSACS Result">APSACS Result</a>
								</li>
								<li>
									<a href="/results/kanz-ul-madaris-results.aspx" title="Kanz ul Madaris Result">Kanz ul Madaris Result</a>
								</li>
								<li>
									<a href="/results/tanzeem-ul-madaris-ahl-e-sunnat-pakistan-result.aspx" title="Tanzeem ul Madaris Result">Tanzeem ul Madaris Result</a>
								</li>
								<li>
									<a href="/results/wahdat-ul-madaris-islamia-result.aspx" title="Wahdat ul Madaris Result">Wahdat ul Madaris Result</a>
								</li>
								<li>
									<a href="/results/rabitatul-madaris-islamia-pakistan-result.aspx" title="Rabitatul Madaris Result">Rabitatul Madaris Result</a>
								</li>
								<li>
									<a href="/results/dpsc-lahore-results.aspx" title="Divisional Public School &amp; Intermediate College Result">Divisional Public School &amp; Intermediate College Result</a>
								</li>
								<li>
									<a href="/results/military-engineer-services-mes-results.aspx" title="Military Engineer Services MES Result">Military Engineer Services MES Result</a>
								</li>
								<li>
									<a href="/results/sindh-testing-services-sts-result.aspx" title="Sindh Testing Services STS Result">Sindh Testing Services STS Result</a>
								</li>
								<li>
									<a href="/results/sadiq-public-school-sps-result.aspx" title="Sadiq Public School SPS Result">Sadiq Public School SPS Result</a>
								</li>
								<li>
									<a href="/results/super-nova-school-sns-results.aspx" title="Super Nova School SNS Results">Super Nova School SNS Results</a>
								</li>
								<li>
									<a href="/results/balochistan-levies-force-results.aspx" title="Balochistan Levies Force Result">Balochistan Levies Force Result</a>
								</li>
								<li>
									<a href="/results/federal-investigation-agency-fia-result.aspx" title="Federal Investigation Agency FIA Result">Federal Investigation Agency FIA Result</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-12" style="float:none;">
					<h2 class="ss-profession">Competitive Exams Results</h2>
				</div>
				<div class="flex-container">
					<div class="col-lg-4">
						<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
							
								<ul class="citywise-list">
									<li>
										<a href="/results/ppsc-exam-results.aspx" title="PPSC Results">PPSC Result</a>
									</li>
									<li>
										<a href="/results/fpsc-exam-results.aspx" title="FPSC Results">FPSC Result</a>
									</li>
									<li>
										<a href="/results/spsc-exam-results.aspx" title="SPSC Results">SPSC Result</a>
									</li>
									<li>
										<a href="/results/kppsc-exam-results.aspx" title="KPPSC Results">KPPSC Result</a>
									</li>
									<li>
										<a href="/results/ajkpsc-exam-results.aspx" title="AJKPSC Results">AJKPSC Result</a>
									</li>
									<li>
										<a href="/results/pms_pcs_exam_result.aspx" title="PMS/PCS Results">PMS/PCS Result</a>
									</li>
									<li>
										<a href="/results/css_exam_results.aspx" title="CSS Results">CSS Result</a>
									</li>
								</ul>
						</div>
					</div>
					<div class="col-lg-12" style="float:none;">
						<h2 class="ss-profession">Technical Education Exams Results</h2>
					</div>
					<div class="col-lg-4">
						<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
							
							<ul class="citywise-list">
								<li>
									<a href="/results/punjab-board-of-technical-education-lahore-results.aspx" title="Punjab Board Results">PBTE Result</a>
								</li>
								<li>
									<a href="/results/sindh-board-of-technical-education-karachi-sbte-result.aspx" title="Sindh Board Results">SBTE Result</a>
								</li>
								<li>
									<a href="/results/khyber-pakhtunkhwa-board-of-technical-education-peshawar-kpbte-result.aspx" title="KPK Board Results">KPBTE Result</a>
								</li>
								<li>
									<a href="/results/punjab-vocational-training-council-pvtc-vti-result.aspx" title="PVTC VTI Result">PVTC Result</a>
								</li>
							</ul>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
</div>
</div>
