<div class="feature-insti">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="institute-list">
					<h2>Featured Institutions</h2>
					<ul>
						<li>
							<a aria-label="link" href="#">
								<div class="figure">
									<img class="lazy-load" alt="image" src="../images-files/images/home/636305437971122648.webp">
								</div>
								<div class="author">Riphah International University</div>
							</a>
						</li>
						<li>
							<a aria-label="link" href="#">
								<div class="figure">
									<img class="lazy-load" alt="image" src="../images-files/images/home/638213186575706990.webp">
								</div>
								<div class="author">Rashid Latif Khan University</div>
							</a>
						</li>
						<li>
							<a aria-label="link" href="#">
								<div class="figure">
									<img class="lazy-load" alt="image" src="../images-files/images/home/637638403208196231.webp">
								</div>
								<div class="author">Superior University</div>
							</a>
						</li>
						<li>
							<a aria-label="link" href="#">
								<div class="figure">
									<img class="lazy-load" alt="image" src="../images-files/images/home/636070541152670432.webp">
								</div>
								<div class="author">Minhaj University Lahore</div>
							</a>
						</li>
						<li>
							<a aria-label="link" href="#">
								<div class="figure">
									<img class="lazy-load" alt="image" src="../images-files/images/home/637354758443969144.webp">
								</div>
								<div class="author">UMT Lahore</div>
							</a>
						</li>
						<li>
							<a aria-label="link" href="#">
								<div class="figure">
									<img class="lazy-load" alt="image" src="../images-files/images/home/636308905888316487.webp">
								</div>
								<div class="author">Lahore Leads University</div>
							</a>
						</li>
						<li>
							<a aria-label="link" href="#">
								<div class="figure">
									<img class="lazy-load" alt="image" src="../images-files/images/home/636203583055744247.webp">
								</div>
								<div class="author">University of Wah</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<style>
	.ikd-search-banner img {
		position: absolute;
		left: 0;
		bottom: 0;
	}

		.ikd-search-banner img:nth-child(2) {
			left: auto;
			right: 0;
		}
</style>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<ul class="sm-news-list mid-news">
				<li>
					<a aria-label="link" href="#">
						<div class="img-holder">
							<img class="lazy-load" src="../images-files/images/home/news1.webp" alt="image" />
						</div>
						<div class="text-holder">
							<span><img src="../images-files/images/icons/calendar-green.webp" alt="image" />20-Sep-2024</span>
							<p>11th Class Result 2023 for All Punjab Boards is Announcing Soon!</p>
						</div>
					</a>
				</li>
				<li>
					<a aria-label="link" href="#">
						<div class="img-holder">
							<img class="lazy-load" src="../images-files/images/home/news2.webp" alt="image" />
						</div>
						<div class="text-holder">
							<span><img src="../images-files/images/icons/calendar-green.webp" alt="image" />20-Sep-2023</span>
							<p>11th Class Result 2023 for All Punjab Boards is Announcing Soon!</p>
						</div>
					</a>
				</li>
				<li>
					<a aria-label="link" href="#">
						<div class="img-holder">
							<img class="lazy-load" src="../images-files/images/home/news3.webp" alt="image" />
						</div>
						<div class="text-holder">
							<span>
								<img src="../images-files/images/icons/calendar-green.webp"
									 alt="image" />20-Sep-2023
							</span>
							<p>11th Class Result 2023 for All Punjab Boards is Announcing Soon!</p>
						</div>
					</a>
				</li>
				<li>
					<a aria-label="link" href="#">
						<div class="img-holder">
							<img class="lazy-load" src="../images-files/images/home/news4.webp" alt="image" />
						</div>
						<div class="text-holder">
							<span>
								<img src="../images-files/images/icons/calendar-green.webp"
									 alt="image" />20-Sep-2023
							</span>
							<p>11th Class Result 2023 for All Punjab Boards is Announcing Soon!</p>
						</div>
					</a>
				</li>
				<li>
					<a aria-label="link" href="#">
						<div class="img-holder">
							<img class="lazy-load" src="../images-files/images/home/news3.webp" alt="image" />
						</div>
						<div class="text-holder">
							<span>
								<img src="../images-files/images/icons/calendar-green.webp"
									 alt="image" />20-Sep-2023
							</span>
							<p>11th Class Result 2023 for All Punjab Boards is Announcing Soon!</p>
						</div>
					</a>
				</li>
				<li>
					<a aria-label="link" href="#">
						<div class="img-holder">
							<img class="lazy-load" src="../images-files/images/home/news4.webp" alt="image" />
						</div>
						<div class="text-holder">
							<span>
								<img src="../images-files/images/icons/calendar-green.webp"
									 alt="image" />20-Sep-2023
							</span>
							<p>11th Class Result 2023 for All Punjab Boards is Announcing Soon!</p>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="content-sec">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-9 col-sm-12">
				<h2>Latest Admissions in Pakistan</h2>
				<p style="margin-bottom: 10px;">
					We publish latest admissions from all major universities and institutions across Pakistan.
					Never lose a chance to get admission in a colege/university of your choice. <a href="#">View Al Admissions</a>
				</p>
				<div class="jobs-table home-table">
					<div class="responsive-table">
						<table class="table">
							<thead>
								<tr>
									<td>Posted On</td>
									<td>Admission Notice</td>
									<td>Last Date </td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>12-May-25</td>
									<td><a href="#">Admissions in Virtual University Islamabad</a></td>
									<td>22-May-25</td>
								</tr>
								<tr>
									<td>12-May-25</td>
									<td><a href="#">Admissions in Virtual University Islamabad</a></td>
									<td>22-May-25</td>
								</tr>
								<tr>
									<td>12-May-25</td>
									<td><a href="#">Admissions in Virtual University Islamabad</a></td>
									<td>22-May-25</td>
								</tr>
								<tr>
									<td>12-May-25</td>
									<td><a href="#">Admissions in Virtual University Islamabad</a></td>
									<td>22-May-25</td>
								</tr>
								<tr>
									<td>12-May-25</td>
									<td><a href="#">Admissions in Virtual University Islamabad</a></td>
									<td>22-May-25</td>
								</tr>
								<tr>
									<td>12-May-25</td>
									<td><a href="#">Admissions in Virtual University Islamabad</a></td>
									<td>22-May-25</td>
								</tr>
								<tr>
									<td>12-May-25</td>
									<td><a href="#">Admissions in Virtual University Islamabad</a></td>
									<td>22-May-25</td>
								</tr>
								<tr>
									<td>12-May-25</td>
									<td><a href="#">Admissions in Virtual University Islamabad</a></td>
									<td>22-May-25</td>
								</tr>
							</tbody>
						</table>
					</div>
					<ul class="admission-list">
						<li>
							<a href="#"><img class="lazy-load" alt="image" src="../images-files/images/home/636305437971122648.webp"> Admissions in Virtual University Islamabad</a>
							<span class="last-date">Last Date: 22-May-25</span>
						</li>
						<li>
							<a href="#"><img class="lazy-load" alt="image" src="../images-files/images/home/636305437971122648.webp"> Admissions in Virtual University Islamabad</a>
							<span class="last-date">Last Date: 22-May-25</span>
							<span class="last-date">Last Date: 22-May-25</span>
						</li>
						<li>
							<a href="#"><img class="lazy-load" alt="image" src="../images-files/images/home/636305437971122648.webp"> Admissions in Virtual University Islamabad</a>
							<span class="last-date">Last Date: 22-May-25</span>
							<span class="last-date">Last Date: 22-May-25</span>
						</li>
						<li>
							<a href="#"><img class="lazy-load" alt="image" src="../images-files/images/home/636305437971122648.webp"> Admissions in Virtual University Islamabad</a>
							<span class="last-date">Last Date: 22-May-25</span>
							<span class="last-date">Last Date: 22-May-25</span>
						</li>
						<li>
							<a href="#"><img class="lazy-load" alt="image" src="../images-files/images/home/636305437971122648.webp"> Admissions in Virtual University Islamabad</a>
							<span class="last-date">Last Date: 22-May-25</span>
							<span class="last-date">Last Date: 22-May-25</span>
						</li>
						<li>
							<a href="#"><img class="lazy-load" alt="image" src="../images-files/images/home/636305437971122648.webp"> Admissions in Virtual University Islamabad</a>
							<span class="last-date">Last Date: 22-May-25</span>
							<span class="last-date">Last Date: 22-May-25</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12">
				<div class="side-bar">
					<div class="home-banner">
						<div class="banner-box">
							<a aria-label="link" href="#">
								<img class="lazy-load" alt="image" style="width: 300px; height: 250px;"
									 src="../images-files/images/home/sml-ad-3.webp">
							</a>
						</div>
						<div class="banner-box">
							<a aria-label="link" href="#">
								<img class="lazy-load" alt="image" style="width: 300px; height: 250px;"
									 src="../images-files/images/home/sml-ad-4.webp">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	.jobs-table.home-table ul.admission-list {
		margin: 0;
		padding: 0;
		display: none;
	}

		.jobs-table.home-table ul.admission-list li {
			padding: 5px 0;
			margin: 0;
			list-style: none;
			border-bottom: 1px solid #ddd;
		}

			.jobs-table.home-table ul.admission-list li a {
				display: block;
				position: relative;
				padding-left: 60px;
				margin-bottom: 5px;
			}

				.jobs-table.home-table ul.admission-list li a img {
					position: absolute;
					left: 0;
					top: 0;
					width: 50px;
					height: 50px;
					object-fit: cover;
				}

			.jobs-table.home-table ul.admission-list li span.last-date {
				font-size: 14px;
			}

	.jobs-table.home-table .responsive-table {
		display: block;
	}
	@@media screen and (max-width: 980px) {
		.jobs-table.home-table .responsive-table

	{
		display: none;
	}

	.jobs-table.home-table ul.admission-list {
		display: block;
	}

	}
</style>