@* <div class="col-lg-12">
    <div class="google-ad-bx ad-slot">
        
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8866825487085085"
             data-ad-slot="9990874736"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>
 *@


<div class="col-lg-12">
    <div class="google-ad-bx ad-slot">

        <ins class="adsbygoogle"
             style="display:block; min-height:90px;"
             data-ad-client="ca-pub-8866825487085085"
             data-ad-slot="9990874736"
             data-ad-format="auto"
             data-ad-layout="image"
             data-full-width-responsive="true"></ins>

        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

    </div>
</div>
