<div class="accordion-sec">
	<div class="accordion-image">
		<img class="lazy-load" src="../images-files/images/home/ikd-teachers.webp" alt="teachers Image">
	</div>
	<div class="home-accordion-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-label" style="margin-bottom: 30px;">
						<h2>Study Online - For FREE</h2>
						<p>Free Video Lectues, Practice MCQs & Test Sessions</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12">
					<div class="accordion-container">
						<ul class="accordion-list">
							<li class="accordion-li">
								<a aria-label="link" class="toggle" href="javascript:;">
									9th Class
									<span>
										<img class="lazy-load" src="../images-files/images/icons/arrow-left.webp" alt="icon">
									</span>
								</a>
								<div class="inner" style="display: none;">
									<div class="guide-list">
										<a aria-label="link" href="#">Video Lectures</a>
										<a aria-label="link" href="#">Smart Syllabus 2022</a>
										<a aria-label="link" href="#">Past Papers</a>
										<a aria-label="link" href="#">Paper Scheme 2022</a>
										<a aria-label="link" href="#">Books</a>
										<a aria-label="link" href="#">MCQ Tests</a>
										<a aria-label="link" href="#">Result 2022</a>
										<a aria-label="link" href="#">Notes</a>
										<a aria-label="link" href="#">Date sheet 2022</a>
										<a aria-label="link" href="#">Numericals</a>
									</div>
								</div>
							</li>
							<li class="accordion-li">
								<a aria-label="link" class="toggle" href="javascript:;">
									9th Class
									<span>
										<img class="lazy-load" src="../images-files/images/icons/arrow-left.webp" alt="icon">
									</span>
								</a>
								<div class="inner" style="display: none;">
									<div class="guide-list">
										<a aria-label="link" href="#">Video Lectures</a>
										<a aria-label="link" href="#">Smart Syllabus 2022</a>
										<a aria-label="link" href="#">Past Papers</a>
										<a aria-label="link" href="#">Paper Scheme 2022</a>
										<a aria-label="link" href="#">Books</a>
										<a aria-label="link" href="#">MCQ Tests</a>
										<a aria-label="link" href="#">Result 2022</a>
										<a aria-label="link" href="#">Notes</a>
										<a aria-label="link" href="#">Date sheet 2022</a>
										<a aria-label="link" href="#">Numericals</a>
									</div>
								</div>
							</li>
							<li class="accordion-li">
								<a aria-label="link" class="toggle" href="javascript:;">
									9th Class
									<span>
										<img class="lazy-load" src="../images-files/images/icons/arrow-left.webp" alt="icon">
									</span>
								</a>
								<div class="inner" style="display: none;">
									<div class="guide-list">
										<a aria-label="link" href="#">Video Lectures</a>
										<a aria-label="link" href="#">Smart Syllabus 2022</a>
										<a aria-label="link" href="#">Past Papers</a>
										<a aria-label="link" href="#">Paper Scheme 2022</a>
										<a aria-label="link" href="#">Books</a>
										<a aria-label="link" href="#">MCQ Tests</a>
										<a aria-label="link" href="#">Result 2022</a>
										<a aria-label="link" href="#">Notes</a>
										<a aria-label="link" href="#">Date sheet 2022</a>
										<a aria-label="link" href="#">Numericals</a>
									</div>
								</div>
							</li>
							<li class="accordion-li">
								<a aria-label="link" class="toggle" href="javascript:;">
									9th Class
									<span>
										<img class="lazy-load" src="../images-files/images/icons/arrow-left.webp" alt="icon">
									</span>
								</a>
								<div class="inner" style="display: none;">
									<div class="guide-list">
										<a aria-label="link" href="#">Video Lectures</a>
										<a aria-label="link" href="#">Smart Syllabus 2022</a>
										<a aria-label="link" href="#">Past Papers</a>
										<a aria-label="link" href="#">Paper Scheme 2022</a>
										<a aria-label="link" href="#">Books</a>
										<a aria-label="link" href="#">MCQ Tests</a>
										<a aria-label="link" href="#">Result 2022</a>
										<a aria-label="link" href="#">Notes</a>
										<a aria-label="link" href="#">Date sheet 2022</a>
										<a aria-label="link" href="#">Numericals</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12">
					<div class="accordion-container">
						<ul class="accordion-list">
							<li class="accordion-li">
								<a aria-label="link" class="toggle" href="javascript:;">
									9th Class
									<span>
										<img class="lazy-load" src="../images-files/images/icons/arrow-left.webp" alt="icon">
									</span>
								</a>
								<div class="inner" style="display: none;">
									<div class="guide-list">
										<a aria-label="link" href="#">Video Lectures</a>
										<a aria-label="link" href="#">Smart Syllabus 2022</a>
										<a aria-label="link" href="#">Past Papers</a>
										<a aria-label="link" href="#">Paper Scheme 2022</a>
										<a aria-label="link" href="#">Books</a>
										<a aria-label="link" href="#">MCQ Tests</a>
										<a aria-label="link" href="#">Result 2022</a>
										<a aria-label="link" href="#">Notes</a>
										<a aria-label="link" href="#">Date sheet 2022</a>
										<a aria-label="link" href="#">Numericals</a>
									</div>
								</div>
							</li>
							<li class="accordion-li">
								<a aria-label="link" class="toggle" href="javascript:;">
									9th Class
									<span>
										<img class="lazy-load" src="../images-files/images/icons/arrow-left.webp" alt="icon">
									</span>
								</a>
								<div class="inner" style="display: none;">
									<div class="guide-list">
										<a aria-label="link" href="#">Video Lectures</a>
										<a aria-label="link" href="#">Smart Syllabus 2022</a>
										<a aria-label="link" href="#">Past Papers</a>
										<a aria-label="link" href="#">Paper Scheme 2022</a>
										<a aria-label="link" href="#">Books</a>
										<a aria-label="link" href="#">MCQ Tests</a>
										<a aria-label="link" href="#">Result 2022</a>
										<a aria-label="link" href="#">Notes</a>
										<a aria-label="link" href="#">Date sheet 2022</a>
										<a aria-label="link" href="#">Numericals</a>
									</div>
								</div>
							</li>
							<li class="accordion-li">
								<a aria-label="link" class="toggle" href="javascript:;">
									9th Class
									<span>
										<img class="lazy-load" src="../images-files/images/icons/arrow-left.webp" alt="icon">
									</span>
								</a>
								<div class="inner" style="display: none;">
									<div class="guide-list">
										<a aria-label="link" href="#">Video Lectures</a>
										<a aria-label="link" href="#">Smart Syllabus 2022</a>
										<a aria-label="link" href="#">Past Papers</a>
										<a aria-label="link" href="#">Paper Scheme 2022</a>
										<a aria-label="link" href="#">Books</a>
										<a aria-label="link" href="#">MCQ Tests</a>
										<a aria-label="link" href="#">Result 2022</a>
										<a aria-label="link" href="#">Notes</a>
										<a aria-label="link" href="#">Date sheet 2022</a>
										<a aria-label="link" href="#">Numericals</a>
									</div>
								</div>
							</li>
							<li class="accordion-li">
								<a aria-label="link" class="toggle" href="javascript:;">
									9th Class
									<span>
										<img class="lazy-load" src="../images-files/images/icons/arrow-left.webp" alt="icon">
									</span>
								</a>
								<div class="inner" style="display: none;">
									<div class="guide-list">
										<a aria-label="link" href="#">Video Lectures</a>
										<a aria-label="link" href="#">Smart Syllabus 2022</a>
										<a aria-label="link" href="#">Past Papers</a>
										<a aria-label="link" href="#">Paper Scheme 2022</a>
										<a aria-label="link" href="#">Books</a>
										<a aria-label="link" href="#">MCQ Tests</a>
										<a aria-label="link" href="#">Result 2022</a>
										<a aria-label="link" href="#">Notes</a>
										<a aria-label="link" href="#">Date sheet 2022</a>
										<a aria-label="link" href="#">Numericals</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12">
					<div class="accordion-container">
						<ul class="accordion-list">
							<li class="accordion-li">
								<a aria-label="link" class="toggle" href="javascript:;">
									9th Class
									<span>
										<img class="lazy-load" src="../images-files/images/icons/arrow-left.webp" alt="icon">
									</span>
								</a>
								<div class="inner" style="display: none;">
									<div class="guide-list">
										<a aria-label="link" href="#">Video Lectures</a>
										<a aria-label="link" href="#">Smart Syllabus 2022</a>
										<a aria-label="link" href="#">Past Papers</a>
										<a aria-label="link" href="#">Paper Scheme 2022</a>
										<a aria-label="link" href="#">Books</a>
										<a aria-label="link" href="#">MCQ Tests</a>
										<a aria-label="link" href="#">Result 2022</a>
										<a aria-label="link" href="#">Notes</a>
										<a aria-label="link" href="#">Date sheet 2022</a>
										<a aria-label="link" href="#">Numericals</a>
									</div>
								</div>
							</li>
							<li class="accordion-li">
								<a aria-label="link" class="toggle" href="javascript:;">
									9th Class
									<span>
										<img class="lazy-load" src="../images-files/images/icons/arrow-left.webp" alt="icon">
									</span>
								</a>
								<div class="inner" style="display: none;">
									<div class="guide-list">
										<a aria-label="link" href="#">Video Lectures</a>
										<a aria-label="link" href="#">Smart Syllabus 2022</a>
										<a aria-label="link" href="#">Past Papers</a>
										<a aria-label="link" href="#">Paper Scheme 2022</a>
										<a aria-label="link" href="#">Books</a>
										<a aria-label="link" href="#">MCQ Tests</a>
										<a aria-label="link" href="#">Result 2022</a>
										<a aria-label="link" href="#">Notes</a>
										<a aria-label="link" href="#">Date sheet 2022</a>
										<a aria-label="link" href="#">Numericals</a>
									</div>
								</div>
							</li>
							<li class="accordion-li">
								<a aria-label="link" class="toggle" href="javascript:;">
									9th Class
									<span>
										<img class="lazy-load" src="../images-files/images/icons/arrow-left.webp" alt="icon">
									</span>
								</a>
								<div class="inner" style="display: none;">
									<div class="guide-list">
										<a aria-label="link" href="#">Video Lectures</a>
										<a aria-label="link" href="#">Smart Syllabus 2022</a>
										<a aria-label="link" href="#">Past Papers</a>
										<a aria-label="link" href="#">Paper Scheme 2022</a>
										<a aria-label="link" href="#">Books</a>
										<a aria-label="link" href="#">MCQ Tests</a>
										<a aria-label="link" href="#">Result 2022</a>
										<a aria-label="link" href="#">Notes</a>
										<a aria-label="link" href="#">Date sheet 2022</a>
										<a aria-label="link" href="#">Numericals</a>
									</div>
								</div>
							</li>
							<li class="accordion-li">
								<a aria-label="link" class="toggle" href="javascript:;">
									9th Class
									<span>
										<img class="lazy-load" src="../images-files/images/icons/arrow-left.webp" alt="icon">
									</span>
								</a>
								<div class="inner" style="display: none;">
									<div class="guide-list">
										<a aria-label="link" href="#">Video Lectures</a>
										<a aria-label="link" href="#">Smart Syllabus 2022</a>
										<a aria-label="link" href="#">Past Papers</a>
										<a aria-label="link" href="#">Paper Scheme 2022</a>
										<a aria-label="link" href="#">Books</a>
										<a aria-label="link" href="#">MCQ Tests</a>
										<a aria-label="link" href="#">Result 2022</a>
										<a aria-label="link" href="#">Notes</a>
										<a aria-label="link" href="#">Date sheet 2022</a>
										<a aria-label="link" href="#">Numericals</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>