<div class="home-stories">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="heading-label">
					<img class="lazy-load" src="../images-files/images/home/new-sec.png" alt="" />
					<h2>Introducing <strong>ilmkidunya Sliders</strong> </h2>
					<p>Learn new stuff, the fun way.</p>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="flex-container slide-view">
					<span class="story-base">
						<figure>
							<a class="story-title" aria-label="link" href="#">
								<img class="lazy-load" src="../images-files/images/story/story-2.webp" alt="">
							</a>
						</figure>
						<div class="caption">
							<span>Education News</span>
							<h3 class="urdu"> کالج کے طلباء کے لیے سرگرمیاں کرنا ضروری ہیں۔</h3>
						</div>
					</span>
					<span class="story-base">
						<figure>
							<a href="#" aria-label="link">
								<img class="lazy-load" src="../images-files/images/story/story-1.webp" alt="">
							</a>
						</figure>
						<div class="caption">
							<span>Education News</span>
							<h3 class="urdu">کالج کے طلباء کے لیے سرگرمیاں کرنا ضروری ہیں۔</h3>
						</div>
					</span>
					<span class="story-base">
						<figure>
							<a href="#" aria-label="link">
								<img class="lazy-load" src="../images-files/images/story/story-3.webp" alt="">
							</a>
						</figure>
						<div class="caption">
							<span>Soft Skills</span>
							<h3>
								5 Tips To Boost Confidence When You Speak English!
							</h3>
						</div>
					</span>
					<span class="story-base">
						<figure>
							<a href="#" aria-label="link">
								<img class="lazy-load" src="../images-files/images/story/story-4.webp" alt="">
							</a>
						</figure>
						<div class="caption">
							<span>Education News</span>
							<h3 class="urdu">
								کالج کے طلباء کے لیے سرگرمیاں کرنا ضروری ہیں۔
							</h3>
							</h3>
						</div>
					</span>
					<span class="story-base">
						<figure>
							<a href="#" aria-label="link">
								<img class="lazy-load" src="../images-files/images/story/story-5.webp" alt="">
							</a>
						</figure>
						<div class="caption">
							<span>General Knowledge</span>
							<h3 class="urdu">
								کالج کے طلباء کے لیے سرگرمیاں کرنا ضروری ہیں۔
							</h3>
						</div>
					</span>

					<span class="story-base">
						<figure>
							<a href="#" aria-label="link">
								<img class="lazy-load" src="../images-files/images/story/story-6.webp" alt="">
							</a>
						</figure>
						<div class="caption">
							<span>Sarkari Naukri</span>
							<h3 class="urdu">
								کالج کے طلباء کے لیے سرگرمیاں کرنا ضروری ہیں۔
							</h3>
						</div>
					</span>
					<span class="story-base">
						<figure>
							<a href="#" aria-label="link">
								<img class="lazy-load" src="../images-files/images/story/story-7.webp" alt="">
							</a>
						</figure>
						<div class="caption">
							<span>Education News</span>
							<h3>
								7 Easy Tips To Develop Reading Habits in Kids!">7 Easy Tips To Develop Reading Habits in Kids!
							</h3>
						</div>
					</span>
					<span class="story-base">
						<figure>
							<a href="#" aria-label="link">
								<img class="lazy-load" src="../images-files/images/story/story-8.webp" alt="" layout="fill">
							</a>
						</figure>
						<div class="caption">
							<span>Sarkari Naukri</span>
							<h3 class="urdu">
								کالج کے طلباء کے لیے سرگرمیاں کرنا ضروری ہیں۔
							</h3>
						</div>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<script>

</script>