<ul class="navigation">
	<li>
		<a aria-label="link" href="/jobs">
			<img src="https://images.ishallwin.com/nav-icons/job-home-icon.webp" alt="image" />
			Jobs Home
		</a>
	</li>
	<li>
		<a aria-label="link" href="/jobs/city-wise">
			<img src="https://images.ishallwin.com/nav-icons/job-city-icon.webp" alt="image" />Cities
		</a>
	</li>
	<li>
		<a aria-label="link" href="/jobs/industry/govt-service">
			<img src="https://images.ishallwin.com/nav-icons/job-govt-icon.webp" alt="image" />Govt Depts
		</a>
	</li>
	<li>
		<a aria-label="link" href="/jobs/company-wise-jobs">
			<img src="https://images.ishallwin.com/nav-icons/job-comap-icon.webp" alt="image" />Comapnies
		</a>
	</li>
	<li>
		<a aria-label="link" href="/jobs/industry">
			<img src="https://images.ishallwin.com/nav-icons/job-indus-icon.webp" alt="image" />Industries
		</a>
	</li>
	<li>
		<a aria-label="link" href="/jobs/professions">
			<img src="https://images.ishallwin.com/nav-icons/job-prof-icon.webp" alt="image" />Professions
		</a>
	</li>
</ul>