



<ul class="navigation">
    <li>
        <a aria-label="link" href="/">
            <img src="https://images.ishallwin.com/nav-icons/nav-18.webp" alt="image">
            Home
        </a>
    </li>
    <li>
        <a aria-label="link" href="/edunews">
            <img src="https://www.ilmkidunya.com/icons/newspaper.png" alt="image">News
        </a>
        <div class="mega-menu full-width">
            <div class="mega-menu-wrapper">
                <div class="mega-menu-top">
                    <div class="menu-left-box">
                        <div class="mega-menu-list">
                            <h2 class="ds-heading"><a class="dynamic-link" href="/edunews/">News</a></h2>
                            <ol>
                                <li>
                                    <a class="dynamic-link" href="/articles/">Articles</a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/stories">Stories</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="menu-right-box"></div>
                </div>
                <div class="menu-image-story">
                    <div id="myDiv_Menuli_News">
                        <div>
                            <h3>Latest Educational News Stories</h3>
                            <p>
                                Daily update of all national, international news, picture stories, college / university
                                announcements and educational events.
                            </p>
                            <p><a class="dynamic-link" href="/edunews/">Read More about Education News</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <a aria-label="link" href="/colleges">
            <img src="https://www.ilmkidunya.com/icons/college.png" alt="image">Colleges
        </a>
        <div class="mega-menu full-width">
            <div class="mega-menu-wrapper">
                <div class="mega-menu-top">
                    <div class="menu-left-box">
                        <div class="mega-menu-list">
                            <h2 class="ds-heading"><a class="dynamic-link" href="/colleges/">Colleges</a></h2>
                            <ol>
                                <li>
                                    <a class="dynamic-link" href="/colleges/featured-listing-of-colleges.aspx">
                                        Featured
                                        Listing of Colleges
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/colleges/city-wise-colleges.aspx">
                                        Colleges by
                                        Cities
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/colleges/level-wise-colleges.aspx">
                                        Colleges by
                                        Levels
                                    </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="menu-right-box">
                        <div class="mega-menu-icons">
                            <div class="icobox">
                                <a class="dynamic-link" href="/colleges/colleges-in-lahore.aspx">
                                    <div class="figure">
                                        <img class="normal"
                                             src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/lahore.png"
                                             alt="">
                                    </div>
                                    <span>Lahore</span>
                                </a>
                            </div>
                            <div class="icobox">
                                <a class="dynamic-link" href="/colleges/colleges-in-karachi.aspx">
                                    <div class="figure">
                                        <img class="normal"
                                             src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/karachi.png"
                                             alt="">
                                    </div>
                                    <span>Karachi</span>
                                </a>
                            </div>
                            <div class="icobox">
                                <a class="dynamic-link" href="/colleges/colleges-in-islamabad.aspx">
                                    <div class="figure">
                                        <img class="normal"
                                             src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/isb.png"
                                             alt="">
                                    </div>
                                    <span>Islamabad</span>
                                </a>
                            </div>
                            <div class="icobox">
                                <a class="dynamic-link" href="/colleges/colleges-in-rawalpindi.aspx">
                                    <div class="figure">
                                        <img class="normal"
                                             src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/rwp.png"
                                             alt="">
                                    </div>
                                    <span>Rawalpindi</span>
                                </a>
                            </div>
                            <div class="icobox">
                                <a class="dynamic-link" href="/colleges/colleges-in-multan.aspx">
                                    <div class="figure">
                                        <img class="normal"
                                             src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/multan.png"
                                             alt="">
                                    </div>
                                    <span>Multan</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-image-story">
                    <div id="myDiv_Menuli_News">
                        <div>
                            <h3>
                                Pakistan's Largest Database of Colleges and Universities
                            </h3>
                            <p>
                                Explore Largest Directory of Private and Govt. Colleges, Universities and find best
                                institute for your future Education.
                            </p>
                            <p>
                                <a class="dynamic-link" href="/colleges/">Read More about Colleges in Pakistan</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <a aria-label="link" href="/courses">
            <img src="https://www.ilmkidunya.com/icons/courses.png" alt="image">Courses
        </a>
        <div class="mega-menu full-width">
            <div class="mega-menu-wrapper">
                <div class="mega-menu-top">
                    <div class="menu-left-box">
                        <div class="mega-menu-list">
                            <h2 class="ds-heading"><a class="dynamic-link" href="/courses/">Courses</a></h2>
                            <ol>
                                <li>
                                    <a class="dynamic-link" href="/courses/popular-courses.aspx">
                                        Most Popular
                                        Courses
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/courses/intermediate">Inter Level Courses</a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/courses/bachelors">Bachelor Level Courses</a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/courses/masters">Master Level Courses</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="menu-right-box">
                        <div class="mega-menu-list">
                            <h2 class="ds-heading">BS Programs</h2>
                            <ol>
                                <li><a class="dynamic-link" href="/bs-mathematics/">BS Mathematics</a></li>
                                <li>
                                    <a class="dynamic-link" href="/bs-electrical-engg/">BS Electrical Engineering</a>
                                </li>
                                <li><a class="dynamic-link" href="/bs-psychology/">BS Pschyology</a></li>
                                <li><a class="dynamic-link" href="/bs-software-engg/">BS Software Engineering</a></li>
                                <li><a class="dynamic-link" href="/bs-computer-engg/">BS Computer Engineering</a></li>
                                <li><a class="dynamic-link" href="/bs-chemical-engg/">BS Chemical Engineering</a></li>
                                <li><a class="dynamic-link" href="/bs-chemistry/">BS Chemistry</a></li>
                                <li>
                                    <a class="dynamic-link" href="/bs-mechanical-engg/">BS Machenical Engineering</a>
                                </li>
                                <li><a class="dynamic-link" href="/bs-civil-engg/">BS Civial Engineering</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <a aria-label="link" href="/admissions">
            <img src="https://www.ilmkidunya.com/icons/admission.png" alt="image">Admission
        </a>
        <div class="mega-menu full-width">
            <div class="mega-menu-wrapper">
                <div class="mega-menu-top">
                    <!-- Left Box -->
                    <div class="menu-left-box">
                        <div class="mega-menu-list">
                            <h2 class="ds-heading"><a class="dynamic-link" href="/admissions/">Admissions</a></h2>
                            <ol>
                                <li>
                                    <a class="dynamic-link" href="/admissions/admissions_alert.aspx">
                                        Admissions
                                        Alerts
                                    </a>
                                </li>
                                <li><a class="dynamic-link" href="/admissions-guide/">Admission Guides</a></li>
                                <li>
                                    <a class="dynamic-link" href="/admissions/admission-guide-inter-part-1.aspx">
                                        1st
                                        Year Admissions
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/admissions/admission-guide-bachelors.aspx">
                                        Bachelors
                                        Admissions
                                    </a>
                                </li>
                                <li><a class="dynamic-link" href="/admissions/masters">Masters Admissions</a></li>
                                <li>
                                    <a href="https://play.google.com/store/apps/details?id=com.softsolutions.ilmkidunya.admissions">
                                        Admissions
                                        Android Apps
                                    </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <!-- Right Box -->
                    <div class="menu-right-box">
                        <div class="mega-menu-list">
                            <h2 class="ds-heading"><a class="dynamic-link" href="/merit-list/">Merit List</a></h2>
                            <ol>
                                <li><a class="dynamic-link" href="/mbbs/merit-list.aspx">MBBS</a></li>
                                <li><a class="dynamic-link" href="/llb/merit-lists.aspx">LLB</a></li>
                                <li><a class="dynamic-link" href="/bds/merit-list.aspx">BDS</a></li>
                                <li><a class="dynamic-link" href="/bachelor-education/merit-lists.aspx">B.ED</a></li>
                                <li><a class="dynamic-link" href="/pharm-d/merit-list">PHARM D</a></li>
                                <li><a class="dynamic-link" href="/bba/merit-lists.aspx">BBA</a></li>
                                <li><a class="dynamic-link" href="/bscs/merit-lists.aspx">BSCS</a></li>
                                <li><a class="dynamic-link" href="/ecat/ecat-test-scores-merit-lists.aspx">ECAT</a></li>
                                <li><a class="dynamic-link" href="/mcat/mdcat-merit-lists.aspx">MDCAT</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <a aria-label="link" href="/study">
            <img src="https://www.ilmkidunya.com/icons/lectures.png" alt="image">Lectures
        </a>
        <div class="mega-menu full-width">
            <div class="mega-menu-wrapper">
                <div class="mega-menu-top">
                    <div class="menu-left-box">
                        <h2 class="ds-heading"><a class="dynamic-link" href="/study/">Lectures</a></h2>
                        <ol>
                            <li><a class="dynamic-link" href="/study/8th-class.aspx">8th Class Lectures</a></li>
                            <li><a class="dynamic-link" href="/study/9th-class.aspx">9th Class Lectures</a></li>
                            <li><a class="dynamic-link" href="/study/10th-class.aspx">10th Class Lectures</a></li>
                            <li><a class="dynamic-link" href="/study/11th-class.aspx">11th Class Lectures</a></li>
                            <li><a class="dynamic-link" href="/study/12th-class.aspx">12th Class Lectures</a></li>
                            <li><a class="dynamic-link" href="/study/ba-part-1-class.aspx">BA Part 1 Lectures</a></li>
                            <li><a class="dynamic-link" href="/study/ba-part-2-class.aspx">BA Part 2 Lectures</a></li>
                            <li><a class="dynamic-link" href="/study/ecat-test.aspx">ECAT Lectures</a></li>
                            <li><a class="dynamic-link" href="/study/mdcat-test.aspx">MDCAT Lectures</a></li>
                            <li>
                                <a href="https://play.google.com/store/apps/details?id=com.instutor"
                                   target="_blank">Online Study Android App</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <a aria-label="link" href="/online-test">
            <img src="https://www.ilmkidunya.com/icons/online-test.png" alt="image">Online Test
        </a>
        <div class="mega-menu full-width">
            <div class="mega-menu-wrapper">
                <div class="mega-menu-top">
                    <div class="menu-left-box">
                        <div class="mega-menu-list">
                            <h2 class="ds-heading"> <a class="dynamic-link" href="/online-test/">Online Test</a></h2>
                            <ol>
                                <li>
                                    <a class="dynamic-link" href="/online-test/test-5th.aspx">5th Class </a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/online-test/test-6th.aspx">6th Class </a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/online-test/test-7th.aspx">7th Class </a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/online-test/test-8th.aspx">8th Class</a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/online-test/9th-class-mcqs-test">9th Class</a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/online-test/10th-test-preparation.aspx">
                                        10th Class
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/online-test/11th-class-mcqs-test.aspx">
                                        11th Class
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/online-test/12th-class-mcqs-test.aspx">
                                        12th Class
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/online-test/nat-i-test-preparation.aspx">
                                        NAT-I Test
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/online-test/nat-ii-test-preparation.aspx">
                                        NAT-II Test
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/online-test/css-test-preparation.aspx">CSS </a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/online-test/iq-test-preparation.aspx">IQ </a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/online-test/general-knowledge-test-preparation.aspx">
                                        General Knowledge
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/online-test/mcat-test-preparation.aspx">
                                        MDCAT
                                        Test
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/online-test/ecat-test-preparation.aspx">ECAT Test</a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/online-test/gat-general-test-preparation.aspx">
                                        GAT
                                        General
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/online-test/gat-subject-test-preparation">
                                        GAT
                                        Subject
                                    </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="menu-right-box">
                        <div class="mega-menu-list">
                            <h2 class="ds-heading">
                                <a class="dynamic-link" href="/short-questions/">Short Question</a>
                            </h2>
                            <ol>
                                <li>
                                    <a class="dynamic-link"
                                       href="/short-questions/physics-9th-class-english-medium-online-preparation.aspx">
                                        9th
                                        Class Physics Short Questions
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/short-questions/chemistry-9th-class-english-medium-online-preparation.aspx">
                                        9th
                                        Class Chemistry Short Questions
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/short-questions/mathematics-9th-class-english-medium-online-preparation.aspx">
                                        9th
                                        Class Math Short Questions
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/short-questions/biology-9th-class-english-medium-online-preparation.aspx">
                                        9th
                                        Class Biology Short Questions
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/short-questions/computer-science-9th-class-english-medium-online-preparation.aspx">
                                        9th
                                        Class Computer Short Questions
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/short-questions/english-9th-class-english-medium-online-preparation.aspx">
                                        9th
                                        Class English Short Questions
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/short-questions/physics-10th-class-english-medium-online-preparation.aspx">
                                        10th
                                        Class Physics Short Question
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/short-questions/chemistry-10th-class-english-medium-online-preparation.aspx">
                                        10th
                                        Class Chemistry Short Question
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/short-questions/mathematics-10th-class-english-medium-online-preparation.aspx">
                                        10th
                                        Class Math Short Question
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/short-questions/biology-10th-class-english-medium-online-preparation.aspx">
                                        10th
                                        Class Biology Short Question
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/short-questions/computer-science-10th-class-english-medium-online-preparation.aspx">
                                        10th
                                        Class Computer Short Question
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/short-questions/english-10th-class-english-medium-online-preparation.aspx">
                                        10th
                                        Class English Short Question
                                    </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <a aria-label="link" href="/past_papers">
            <img src="https://www.ilmkidunya.com/icons/papers.png" alt="image">Past Papers
        </a>
        <div class="mega-menu full-width">
            <div class="mega-menu-wrapper">
                <div class="mega-menu-top">
                    <div class="menu-left-box">
                        <h2 class="ds-heading"><a class="dynamic-link" href="/past_papers/">Past Papers</a></h2>
                        <ol>
                            <li>
                                <a class="dynamic-link" href="/past_papers/pec-5th-class-past-papers.aspx">
                                    5th Class
                                </a>
                            </li>
                            <li>
                                <a class="dynamic-link" href="/past_papers/pec-8th-class-past-papers.aspx">
                                    8th Class
                                </a>
                            </li>
                            <li>
                                <a class="dynamic-link" href="/past_papers/matric-past-papers.aspx">Matriculation </a>
                            </li>
                            <li>
                                <a class="dynamic-link" href="/past_papers/inter-past-papers.aspx">Intermediate </a>
                            </li>
                            <li><a class="dynamic-link" href="/past_papers/ba-bsc-past-papers.aspx">Bachelors </a></li>
                            <li><a class="dynamic-link" href="/past_papers/ma-msc-past-papers.aspx">Masters </a></li>
                            <li><a class="dynamic-link" href="/past_papers/mcat-past-papers.aspx">MDCAT </a></li>
                            <li><a class="dynamic-link" href="/past_papers/ecat-past-papers.aspx">ECAT </a></li>
                            <li><a class="dynamic-link" href="/past_papers/css-past-papers.aspx">CSS </a></li>
                            <li>
                                <a href="https://play.google.com/store/apps/details?id=com.softsolutions.ilmkidunya.pastpapers"
                                   target="_blank">Past Papers Android App </a>
                            </li>
                        </ol>
                    </div>
                    <div class="menu-right-box">
                        <div class="mega-menu-list">
                            <h2 class="ds-heading">University Past Papers</h2>
                            <ol>
                                <li>
                                    <a class="dynamic-link"
                                       href="/past_papers/punjab-university-lahore-past-papers.aspx">
                                        Punjab
                                        University
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/past_papers/karachi-university-past-papers.aspx">Karachi University</a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/past_papers/bzu-multan-past-papers.aspx">
                                        Bahaudin
                                        Zakriya University
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/past_papers/sargodha-university-past-papers.aspx">Sarghoda University</a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/past_papers/peshawar-university-past-papers.aspx">Peshawar University</a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/past_papers/islamia-university-bahawalpur-past-papers.aspx">
                                        Islamia
                                        University Bahawalpur
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/past_papers/allama-iqbal-open-university-past-papers.aspx">
                                        Allama Iqbal
                                        Open University
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/past_papers/virtual-university-past-papers.aspx">Virtual University</a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/past_papers/university-of-health-sciences-lahore-past-papers.aspx">
                                        University
                                        Of Health Science
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/past_papers/university-of-balochistan-past-papers.aspx">
                                        University Of
                                        Balochistan
                                    </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <a aria-label="link" href="/date_sheets">
            <img src="https://www.ilmkidunya.com/icons/datesheet.png" alt="image">Date Sheets
        </a>
        <div class="mega-menu full-width">
            <div class="mega-menu-wrapper">
                <div class="mega-menu-top">
                    <div class="menu-left-box">
                        <div class="mega-menu-list">
                            <h2 class="ds-heading"><a class="dynamic-link" href="/date_sheets/">Datesheets</a></h2>
                            <ol>
                                <li>
                                    <a class="dynamic-link" href="/date_sheets/9th-class-date-sheet.aspx">9th Class </a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/date_sheets/10th-class-date-sheet.aspx">
                                        10th Class
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/date_sheets/matric-date-sheet.aspx">
                                        Matriculation
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/date_sheets/inter-date-sheet.aspx">Intermediate </a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/date_sheets/bachelors-date-sheet.aspx">Bachelors </a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/date_sheets/master-date-sheet.aspx">Masters </a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/mcat/mcat-test-date-sheet.aspx">MDCAT </a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/ecat/ecat-test-date-sheet.aspx">ECAT </a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/date_sheets/pcs_pms_exam_datesheets.aspx">
                                        PCS / PMS
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/date_sheets/css_examination_datesheets.aspx">CSS </a>
                                </li>
                                <li>
                                    <a href="https://play.google.com/store/apps/details?id=com.softsolutions.ilmkidunya.datesheet"
                                       target="_blank">Date Sheets Android App </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="menu-right-box">
                        <div class="mega-menu-list">
                            <h2 class="ds-heading">
                                <a class="dynamic-link" href="/roll-number-slips/">
                                    Roll Number
                                    Slips
                                </a>
                            </h2>
                            <ol>
                                <li>
                                    <a class="dynamic-link"
                                       href="/roll-number-slips/9th-class-roll-number-slip.aspx">9th Class </a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/roll-number-slips/10th-class-roll-number-slip.aspx">10th Class </a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/roll-number-slips/matric-roll-number-slip.aspx">Matriculation </a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/roll-number-slips/inter-roll-number-slip.aspx">Intermediate </a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/roll-number-slips/bachelors-roll-number-slip.aspx">Bachelors </a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/roll-number-slips/master-roll-number-slip.aspx">Masters </a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/roll-number-slips/uhs_lahore_mcat_roll_number_slip.aspx">MDCAT </a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/roll-number-slips/uet_lahore_ecat_roll_number_slip.aspx">ECAT </a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/roll-number-slips/pcs_pms_exam_roll_number_slip.aspx">PCS / PMS </a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/roll-number-slips/css_examination_roll_number_slip.aspx">CSS </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <a class="dynamic-link" aria-label="link" href="/results">
            <img src="https://www.ilmkidunya.com/icons/results.png" alt="image">Results
        </a>
        <div class="mega-menu full-width">
            <div class="mega-menu-wrapper">
                <div class="mega-menu-top">
                    <div class="menu-left-box">
                        <div class="mega-menu-list">
                            <h2 class="ds-heading"><a href="/results/">Results</a></h2>
                            <ol>
                                <li><a href="/results/matric-result.aspx">Matriculation</a></li>
                                <li>
                                    <a href="/results/inter-result.aspx">Intermediate </a>
                                </li>
                                <li>
                                    <a href="/results/bachelors-result.aspx">Bachelors </a>
                                </li>
                                <li>
                                    <a href="/results/masters-result.aspx">Masters </a>
                                </li>
                                <li>
                                    <a href="https://play.google.com/store/apps/details?id=com.softsolutions.ilmkidunya.results"
                                       target="_blank">Results Android App </a>
                                </li>
                                <li>
                                    <a href="/mcat/mcat-test-result.aspx">MDCAT </a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/ecat/ecat-test-result.aspx">ECAT </a>
                                </li>
                                <li>
                                    <a href="/results/pms_pcs_exam_result.aspx">PCS / PMS </a>
                                </li>
                                <li>
                                    <a href="/results/css_exam_results.aspx">CSS </a>
                                </li>
                                <li>
                                    <a href="/results/prize-bonds.aspx">Prize Bonds </a>
                                </li>
                                <li>
                                    <a href="/results/prize-bonds-draw-schedule.aspx">Prize Bond Schedules </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="menu-right-box">
                        <div class="mega-menu-list">
                            <h2 class="ds-heading">University Results</h2>
                            <ol>
                                <li><a href="/results/punjab_university_results.aspx">Punjab University</a></li>
                                <li><a href="/results/karachi_university_results.aspx">Karachi University</a></li>
                                <li>
                                    <a href="/results/azad_jammu_kashmir_university_ajku_results.aspx">
                                        AJK
                                        University
                                    </a>
                                </li>
                                <li>
                                    <a href="/results/bahauddin_zakariya_university_results.aspx">
                                        Bahaudin Zakriya
                                        University
                                    </a>
                                </li>
                                <li><a href="/results/sargodha_university_results.aspx">Sarghoda University</a></li>
                                <li><a href="/results/peshawar_university_results.aspx">Peshawar University</a></li>
                                <li>
                                    <a href="/results/islamia_university_of_bahawalpur_results.aspx">
                                        Islamia University
                                        Bahawalpur
                                    </a>
                                </li>
                                <li>
                                    <a href="/results/allama-iqbal-open-university-aiou-results.aspx">
                                        Allama Iqbal Open
                                        University
                                    </a>
                                </li>
                                <li><a href="/results/virtual-university-vu-results.aspx">Virtual University</a></li>
                                <li>
                                    <a href="/results/university-of-health-science-results.aspx">
                                        University Of Health
                                        Science
                                    </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="menu-image-story">
                    <div id="myDiv_Menuli_News">
                        <div>
                            <h3> Exam Results 2024</h3>
                            <p>
                                Check online Results 2024 Matric Inter BA BSc B.Com MA MSc M.Com CSS PCS MCAT ECAT of all
                                educational boards and universities in Pakistan
                            </p>
                            <p><a href="/results/">Read More about Exam Results</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <a aria-label="link" href="/studyabroad/">
            <img src="https://www.ilmkidunya.com/icons/study-abroad.png" alt="image">Study Abroad
        </a>
        <div class="mega-menu full-width">
            <div class="mega-menu-wrapper">
                <div class="mega-menu-top">
                    <div class="menu-left-box">
                        <div class="mega-menu-list">
                            <h2 class="ds-heading"><a class="dynamic-link" href="/studyabroad/">Study Abroad</a></h2>
                            <ol>
                                <li>
                                    <a class="dynamic-link" href="/studyabroad/country-guides.aspx">
                                        Study Abroad
                                        Guides
                                    </a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/edunews/news-categories/study-abroad-events.aspx">Study Abroad Events</a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/consultants/">Study Abroad Consultants</a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/consultants/register-consultant.aspx">
                                        Register as
                                        Consultant
                                    </a>
                                </li>
                            </ol>
                        </div>
                        <div class="mega-menu-icons">
                            <div class="icobox">
                                <a class="dynamic-link" href="/consultants/education-consultants-in-lahore.aspx">
                                    <div class="figure">
                                        <img alt=""
                                             data-src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/lahore.png"
                                             class="normal lazyloaded"
                                             src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/lahore.png">
                                    </div>
                                    <span>Lahore</span>
                                </a>
                            </div>
                            <div class="icobox">
                                <a class="dynamic-link" href="/consultants/education-consultants-in-karachi.aspx">
                                    <div class="figure">
                                        <img alt=""
                                             data-src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/karachi.png"
                                             class="normal lazyloaded"
                                             src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/karachi.png">
                                    </div>
                                    <span>Karachi</span>
                                </a>
                            </div>
                            <div class="icobox">
                                <a class="dynamic-link" href="/consultants/education-consultants-in-islamabad.aspx">
                                    <div class="figure">
                                        <img alt=""
                                             data-src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/isb.png"
                                             class="normal lazyloaded"
                                             src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/isb.png">
                                    </div>
                                    <span>Islamabad</span>
                                </a>
                            </div>
                            <div class="icobox">
                                <a class="dynamic-link" href="/consultants/education-consultants-in-peshawar.aspx">
                                    <div class="figure">
                                        <img alt=""
                                             data-src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/rwp.png"
                                             class="normal lazyloaded"
                                             src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/rwp.png">
                                    </div>
                                    <span>Rawalpindi</span>
                                </a>
                            </div>
                            <div class="icobox">
                                <a class="dynamic-link" href="/consultants/education-consultants-in-multan.aspx">
                                    <div class="figure">
                                        <img alt=""
                                             data-src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/multan.png"
                                             class="normal lazyloaded"
                                             src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/multan.png">
                                    </div>
                                    <span>Multan</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="menu-right-box">
                        <div class="mega-menu-list">
                            <h2 class="ds-heading">
                                <a class="dynamic-link" href="/scholarships/">Scholarships Main</a>
                            </h2>
                            <ol>
                                <li>
                                    <a class="dynamic-link"
                                       href="/scholarships/scholarships-in-united-kingdom.aspx">Scholarships in UK</a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/scholarships/scholarships-in-united-states.aspx">Scholarships in US</a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/scholarships/scholarships-in-canada.aspx">Scholarships in Canada</a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/scholarships/scholarships-in-france.aspx">Scholarships in France</a>
                                </li>
                                <li>
                                    <a class="dynamic-link"
                                       href="/scholarships/scholarships-in-germany.aspx">Scholarships in Germany</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-image-story">
                <div id="myDiv_Menuli_News">
                    <div class="col-lg-12">
                        <h3>
                            Study Abroad Programs and Opportunities for Pakistani Students
                        </h3>
                        <p>
                            Explore free study abroad search to find programs, consultants, events to study
                            in USA, UK, Australia, China, Malaysia and many others.
                        </p>
                        <p>
                            <a class="dynamic-link" href="/studyabroad/">Read More about Study Abroad</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <a aria-label="link" href="/jobs">
            <img src="https://www.ilmkidunya.com/icons/job-search.png" alt="image">Jobs
        </a>
        <div class="mega-menu full-width">
            <div class="mega-menu-wrapper">
                <div class="mega-menu-top">
                    <div class="menu-left-box">
                        <div class="mega-menu-list">
                            <h2 class="ds-heading"><a class="dynamic-link" href="/jobs/">Daily Jobs</a></h2>
                            <ol>
                                <li>
                                    <a class="dynamic-link" href="/jobs/company-wise-jobs">Search Jobs by Company </a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/jobs/industry">Search Jobs by Industry </a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/jobs/city-wise">Search Jobs by City </a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/jobs/professions">Search Jobs in Professions </a>
                                </li>
                            </ol>
                        </div>
                        <div class="mega-menu-icons">
                            <div class="icobox">
                                <a class="dynamic-link" href="/jobs/city-wise/jobs-in-lahore">
                                    <div class="figure">
                                        <img alt=""
                                             data-src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/lahore.png"
                                             class="normal lazyloaded"
                                             src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/lahore.png">
                                    </div>
                                    <span>Lahore</span>
                                </a>
                            </div>
                            <div class="icobox">
                                <a class="dynamic-link" href="/jobs/city-wise/jobs-in-karachi">
                                    <div class="figure">
                                        <img alt=""
                                             data-src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/karachi.png"
                                             class="normal lazyloaded"
                                             src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/karachi.png">
                                    </div>
                                    <span>Karachi</span>
                                </a>
                            </div>
                            <div class="icobox">
                                <a class="dynamic-link" href="/jobs/city-wise/jobs-in-islamabad">
                                    <div class="figure">
                                        <img alt=""
                                             data-src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/isb.png"
                                             class="normal lazyloaded"
                                             src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/isb.png">
                                    </div>
                                    <span>Islamabad</span>
                                </a>
                            </div>
                            <div class="icobox">
                                <a class="dynamic-link" href="/jobs/city-wise/jobs-in-rawalpindi">
                                    <div class="figure">
                                        <img alt=""
                                             data-src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/rwp.png"
                                             class="normal lazyloaded"
                                             src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/rwp.png">
                                    </div>
                                    <span>Rawalpindi</span>
                                </a>
                            </div>
                            <div class="icobox">
                                <a class="dynamic-link" href="/jobs/city-wise/jobs-in-multan">
                                    <div class="figure">
                                        <img alt=""
                                             data-src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/multan.png"
                                             class="normal lazyloaded"
                                             src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/icons/multan.png">
                                    </div>
                                    <span>Multan</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="menu-right-box">
                        <div class="mega-menu-list">
                            <h2 class="ds-heading"><a class="dynamic-link" href="/nts/">NTS</a></h2>
                            <ol>
                                <li>
                                    <a class="dynamic-link" href="/nts/jobs">NTS Jobs</a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/nts/apply-online">NTS Test Form</a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/nts/nts-test-schedule">NTS Test Date</a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/nts/nts-result">NTS Selected Candidate</a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/nts/nts-result">NTS Answer Key</a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/nts/apply-online">NTS Test Registration</a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/nts/jobs">NTS Test Prep.</a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/nts/nts-result">NTS Rejected Candidate</a>
                                </li>
                                <li>
                                    <a class="dynamic-link" href="/nts/nts-result">NTS Results </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <a aria-label="link" href="/tutors">
            <img src="https://www.ilmkidunya.com/icons/tutor.png" alt="image">Tutors
        </a>
        <div class="mega-menu full-width">
            <div class="mega-menu-wrapper">
                <div class="mega-menu-top">
                    <div class="menu-left-box">
                        <div class="mega-menu-list">
                            <h2 class="ds-heading"><a class="dynamic-link" href="/tutors/">Tutors</a></h2>
                            <ol>
                                <li><a class="dynamic-link" href="/tutors/tutor-inquires.aspx">Find Tutors</a></li>
                                <li><a class="dynamic-link" href="/tutors/tutor-register">Register Tutor</a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="menu-right-box"></div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <a aria-label="link" href="#">
            <img src="https://www.ilmkidunya.com/icons/more.png" alt="image">More
        </a>
        <div class="mega-menu full-width">
            <div class="mega-menu-wrapper">
                <div class="mega-menu-top">
                    <div class="menu-left-box">
                        <div class="mega-menu-list">
                            <!-- <h2 class="ds-heading">Store</h2> -->
                            <ol>
                                <li><a class="dynamic-link" href="/store/">Books Store</a></li>
                                <li><a class="dynamic-link" href="/hostels/">Hostels</a></li>
                                <li><a class="dynamic-link" href="/Tours/">Tours</a></li>
                                <li><a class="dynamic-link" href="/dictionary">Dictionary</a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="menu-right-box">
                        <div class="mega-menu-list">
                            <h2 class="ds-heading"><a class="dynamic-link" href="/flags/">Flags</a></h2>
                            <ol>
                                <li><a class="dynamic-link" href="/flags/pakistan">Pakistan</a></li>
                                <li><a class="dynamic-link" href="/flags/australia">Australia</a></li>
                                <li><a class="dynamic-link" href="/flags/china">China</a></li>
                                <li><a class="dynamic-link" href="/flags/brazil">Brazil</a></li>
                                <li><a class="dynamic-link" href="/flags/india">India</a></li>
                                <li><a class="dynamic-link" href="/flags/iran">Iran</a></li>
                            </ol>
                        </div>
                        <div class="mega-menu-icons">
                            <div class="icobox flags-icon">
                                <a class="dynamic-link" href="/flags/pakistan">
                                    <div class="figure">
                                        <img alt=""
                                             data-src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/flags/pakistan.png"
                                             class=" lazyloaded"
                                             src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/flags/pakistan.png">
                                    </div>
                                    <span>Pakistan</span>
                                </a>
                            </div>
                            <div class="icobox">
                                <a class="dynamic-link" href="/flags/australia">
                                    <div class="figure">
                                        <img alt=""
                                             data-src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/flags/australia.png"
                                             class=" lazyloaded"
                                             src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/flags/australia.png">
                                    </div>
                                    <span>Australia</span>
                                </a>
                            </div>
                            <div class="icobox">
                                <a class="dynamic-link" href="/flags/china">
                                    <div class="figure">
                                        <img alt=""
                                             data-src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/flags/china.png"
                                             class=" lazyloaded"
                                             src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/flags/china.png">
                                    </div>
                                    <span>China</span>
                                </a>
                            </div>
                            <div class="icobox">
                                <a class="dynamic-link" href="/flags/brazil">
                                    <div class="figure">
                                        <img alt=""
                                             data-src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/flags/brazil.png"
                                             class=" lazyloaded"
                                             src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/flags/brazil.png">
                                    </div>
                                    <span>Brazil</span>
                                </a>
                            </div>
                            <div class="icobox">
                                <a class="dynamic-link" href="/flags/france">
                                    <div class="figure">
                                        <img alt=""
                                             data-src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/flags/france.png"
                                             class=" lazyloaded"
                                             src="https://resources.ilmkidunya.com/ikd-new/demo-1/assets/images/flags/france.png">
                                    </div>
                                    <span>France</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <a aria-label="link" href="/apps">
            <img src="https://www.ilmkidunya.com/icons/app.png" alt="image">Apps
        </a>
        <div class="mega-menu full-width">
            <div class="mega-menu-wrapper">
                <div class="mega-menu-top">
                    <div class="menu-left-box">
                        <div class="mega-menu-list">
                            <h2 class="ds-heading"><a class="dynamic-link" href="/apps/">Apps</a></h2>
                            <ol>
                                <li><a class="dynamic-link" href="/apps/css-exams">CSS Exams</a></li>
                                <li><a class="dynamic-link" href="/apps/instutor-online-lectures">Instutor</a></li>
                                <li><a class="dynamic-link" href="/apps/nts-test-preparation">NTS Preparation</a></li>
                                <li><a class="dynamic-link" href="/apps/home-tutors">Home Tutors</a></li>
                                <li><a class="dynamic-link" href="/apps/scholarships">Scholarships</a></li>
                                <li>
                                    <a class="dynamic-link" href="/apps/uhs-mdcat-test-preparation">
                                        MDCAT
                                        preparation
                                    </a>
                                </li>
                                <li><a class="dynamic-link" href="/apps/ics">ICS</a></li>
                                <li><a class="dynamic-link" href="/apps/ecat-entry-test">ECAT Entry Test</a></li>
                                <li><a class="dynamic-link" href="/apps/fsc">FSc</a></li>
                                <li><a class="dynamic-link" href="/apps/mba">MBA</a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="menu-right-box">
                        <div class="mega-menu-icons">
                            <div class="icobox flags-icon">
                                <a class="dynamic-link" href="/apps/9th-class">
                                    <div class="figure">
                                        <img alt=""
                                             data-src="https://ikddata.ilmkidunya.com/images/apps-icons/9th-class-result-2019-for-all-boards.png"
                                             class=" lazyloaded"
                                             src="https://ikddata.ilmkidunya.com/images/apps-icons/9th-class-result-2019-for-all-boards.png">
                                    </div>
                                    <span>9th Class</span>
                                </a>
                            </div>
                            <div class="icobox">
                                <a class="dynamic-link" href="/apps/10th-class">
                                    <div class="figure">
                                        <img alt=""
                                             data-src="https://ikddata.ilmkidunya.com/images/apps-icons/app-for-10th-class-students-10th-result-2019.png"
                                             class=" lazyloaded"
                                             src="https://ikddata.ilmkidunya.com/images/apps-icons/app-for-10th-class-students-10th-result-2019.png">
                                    </div>
                                    <span>10th Class</span>
                                </a>
                            </div>
                            <div class="icobox">
                                <a class="dynamic-link" href="/apps/date-sheet">
                                    <div class="figure">
                                        <img alt=""
                                             data-src="https://ikddata.ilmkidunya.com/images/apps-icons/exam-date-sheets-2019.png"
                                             class=" lazyloaded"
                                             src="https://ikddata.ilmkidunya.com/images/apps-icons/exam-date-sheets-2019.png">
                                    </div>
                                    <span>Date Sheet</span>
                                </a>
                            </div>
                            <div class="icobox">
                                <a class="dynamic-link" href="/apps/results">
                                    <div class="figure">
                                        <img alt=""
                                             data-src="https://ikddata.ilmkidunya.com/images/apps-icons/all-pakistan-exam-results-9th-class-results.png"
                                             class=" lazyloaded"
                                             src="https://ikddata.ilmkidunya.com/images/apps-icons/all-pakistan-exam-results-9th-class-results.png">
                                    </div>
                                    <span>Result</span>
                                </a>
                            </div>
                            <div class="icobox">
                                <a class="dynamic-link" href="/apps/past-papers">
                                    <div class="figure">
                                        <img alt=""
                                             data-src="https://ikddata.ilmkidunya.com/images/apps-icons/past-papers-ilmkidunya.png"
                                             class=" lazyloaded"
                                             src="https://ikddata.ilmkidunya.com/images/apps-icons/past-papers-ilmkidunya.png">
                                    </div>
                                    <span>Past Papers</span>
                                </a>
                            </div>
                            <div class="icobox">
                                <a class="dynamic-link" href="/apps/jobs-pakistan">
                                    <div class="figure">
                                        <img alt=""
                                             data-src="https://ikddata.ilmkidunya.com/images/apps-icons/jobs-in-pakistan.png"
                                             class=" lazyloaded"
                                             src="https://ikddata.ilmkidunya.com/images/apps-icons/jobs-in-pakistan.png">
                                    </div>
                                    <span>Jobs in Pakistan</span>
                                </a>
                            </div>
                            <div class="icobox">
                                <a class="dynamic-link" href="/apps/pak-govt-jobs">
                                    <div class="figure">
                                        <img alt=""
                                             data-src="https://ikddata.ilmkidunya.com/images/apps-icons/govt-jobs-pakistan-2019.png"
                                             class=" lazyloaded"
                                             src="https://ikddata.ilmkidunya.com/images/apps-icons/govt-jobs-pakistan-2019.png">
                                    </div>
                                    <span>Govt Jobs Pakistan</span>
                                </a>
                            </div>
                            <div class="icobox">
                                <a class="dynamic-link" href="/apps/campus">
                                    <div class="figure">
                                        <img alt=""
                                             data-src="https://ikddata.ilmkidunya.com/images/apps-icons/campus-for-pakistani-students.png"
                                             class=" lazyloaded"
                                             src="https://ikddata.ilmkidunya.com/images/apps-icons/campus-for-pakistani-students.png">
                                    </div>
                                    <span>Campus</span>
                                </a>
                            </div>
                            <div class="icobox">
                                <a class="dynamic-link" href="/apps/brain-up">
                                    <div class="figure">
                                        <img alt=""
                                             data-src="https://ikddata.ilmkidunya.com/images/apps-icons/brain-up-online-tests-mcqs-tests-2018.png"
                                             class=" lazyloaded"
                                             src="https://ikddata.ilmkidunya.com/images/apps-icons/brain-up-online-tests-mcqs-tests-2018.png">
                                    </div>
                                    <span>Brain Up</span>
                                </a>
                            </div>
                            <div class="icobox">
                                <a class="dynamic-link" href="/apps/admissions">
                                    <div class="figure">
                                        <img alt=""
                                             data-src="https://ikddata.ilmkidunya.com/images/apps-icons/admissions-1st-year-bachelor-and-masters-merits.png"
                                             class=" lazyloaded"
                                             src="https://ikddata.ilmkidunya.com/images/apps-icons/admissions-1st-year-bachelor-and-masters-merits.png">
                                    </div>
                                    <span>Admissions</span>
                                </a>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>