@model IKDFrontEnd.ViewModels.PastPaperViewModel
@{

}
@section nevbar{
	<div class="container">
		<div class="row">
			<div class="col-lg-11">
				<partial name="_NavBarPartial" />
			</div>
			<div class="col-lg-1">
				<ul class="login-option">
					<li><a aria-label="link" href="#"><img class="lazy-load loaded" data-src="https://images.ishallwin.com/nav-icons/search-icon.webp" alt="image" src="https://images.ishallwin.com/nav-icons/search-icon.webp"></a></li>
					<li><a aria-label="link" href="#"><img class="lazy-load loaded" data-src="https://images.ishallwin.com/nav-icons/user-icon.webp" alt="image" src="https://images.ishallwin.com/nav-icons/user-icon.webp"></a></li>
				</ul>
			</div>
		</div>
	</div>
}
@section innerbanner{
	<div class="ss-banner-inner">
		<div class="ss-container">
			<div class="ss-row">
				<div class="ss-col-lg-12">
					<div class="ss-text-holder">
						<h1>Past Papers 2023 - Matric, Intermediate, Bachelors Masters of Various Educational Boards, Colleges, Universities of Pakistan</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
}
@section newbanner{
	<div class="new-banners" style=" padding:15px 0 20px 0;">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-col-md-4 col-sm-12">
					<a aria-label="link" href="#"><img src="https://images.ishallwin.com/tuf-ads-banner-new-final.gif" alt="image"></a>
				</div>
				<div class="col-lg-4 col-col-md-4 col-sm-12">
					<a aria-label="link" href="#"><img src="https://images.ishallwin.com/AKHTAR-SAEED-GIF-with-borders-(400-x-60-px).gif" alt="image"></a>
				</div>
				<div class="col-lg-4 col-col-md-4 col-sm-12">
					<a aria-label="link" href="#"><img src="https://images.ishallwin.com/behria-uni.gif" alt="image"></a>
				</div>
			</div>
		</div>
	</div>
}
	<div class="content-sec" style="padding: 30px 0 20px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p>Going through past papers will help students to work out where the gaps in their knowledge are, and also the strengths and weakness. This will comfort students to target their goals together, and then they can work on the parts of the course they find most challenging. The Students get an idea of what time frame they should finish answering. Past papers help students in problem solving and also test their knowledge and understanding.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="new-ads-sec">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="my-ads" id="slider1" style="">
						<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8866825487085085" data-ad-slot="7449924963" data-ad-format="auto" data-full-width-responsive="true"></ins>
						<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="contact-sec fee-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p>Past papers are of great importance for the students of all level of study either of school/college level or students of university. Also the students of other examinations like ECAT, MCAT, CSS, and PMS/PCS also can get benefit from the past papers.</p>
					<p>Going through past papers will help students to work out where the gaps in their knowledge are, and also the strengths and weaknesses. This will comfort students to target their goals together, and then they can work on the parts of the course they find most challenging. The students get an idea of what time frame they should finish answering. Past papers help students in problem solving and also test their knowledge and understanding.</p>
					<p>ilmkidunya has given the facility to students of all level of study that they can get and study all kind of past papers by visiting the past papers section on ilmkidunya . Past papers for matric and inter examinations, for graduation level and also for university level are available for the help of students. Students of other examinations like MCAT, ECAT, CSS, PMS and PCS can also get past papers easily on ilmkidunya.</p>
					<ul class="ss-ads" style="border: 0; padding-top: 0; margin: 0;">
						<li>
							<a href="#" aria-label="ads"><img src="https://images.ishallwin.com/5.webp" alt=""></a>
						</li>
						<li>
							<a href="#" aria-label="ads"><img src="https://images.ishallwin.com/6.webp" alt=""></a>
						</li>
						<li>
							<a href="#" aria-label="ads"><img src="https://images.ishallwin.com/7.webp" alt=""></a>
						</li>
						<li>
							<a href="#" aria-label="ads"><img src="https://images.ishallwin.com/8.webp" alt=""></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="page-content pp-sec">
		<div class="container">
			<div class="row">
				<div class="col-lg-12" style="float:none;">
					<h2 class="ss-profession">Matric / Inter Past Papers</h2>
				</div>
				<div class="flex-container">
					<div class="col-lg-4">
						<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
							<h4>Punjab Educational Boards Past Papers:</h4>
							<ul class="citywise-list">
							<li>
								<a href="http://www.ilmkidunya.com/past_papers/lahore-board-past-papers.aspx">BISE Lahore</a>
							</li>
							<li>
								<a href="http://www.ilmkidunya.com/past_papers/gujranwala-board-past-papers.aspx">BISE Gujranwala</a>
							</li>
							<li>
								<a href="http://www.ilmkidunya.com/past_papers/multan-board-past-papers.aspx">BISE Multan</a>
							</li>
							<li>
								<a href="http://www.ilmkidunya.com/past_papers/faisalabad-board-past-papers.aspx">BISE Faisalabad</a>
							</li>
							<li>
								<a href="http://www.ilmkidunya.com/past_papers/sahiwal-board-past-papers.aspx">BISE Sahiwal</a>
							</li>
							<li>
								<a href="http://www.ilmkidunya.com/past_papers/sargodha-board-past-papers.aspx">BISE Sargodha</a>
							</li>
							<li>
								<a href="http://www.ilmkidunya.com/past_papers/rawalpindi-board-past-papers.aspx">BISE Rawalpinidi</a>
							</li>
							<li>
								<a href="http://www.ilmkidunya.com/past_papers/bahawalpur-board-past-papers.aspx">BISE Bahawalpur</a>
							</li>
							<li>
								<a href="http://www.ilmkidunya.com/past_papers/dg-khan-board-past-papers.aspx">BISE DG Khan</a>
							</li>
							<li>
								<a href="http://www.ilmkidunya.com/past_papers/federal-board-islamabad-past-papers.aspx">BISE Federal</a>
							</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
							<h4>KPK Educational Boards Past Papers:</h4>
							<ul class="citywise-list">
							<li>
								<a href="http://www.ilmkidunya.com/past_papers/peshawar-board-past-papers.aspx">BISE Peshawar</a>
							</li>
							<li>
								<a href="http://www.ilmkidunya.com/past_papers/swat-board-past-papers.aspx">BISE Swat</a>
							</li>
							<li>
								<a href="http://www.ilmkidunya.com/past_papers/kohat-board-past-papers.aspx">BISE Kohat</a>
							</li>
							<li>
								<a href="http://www.ilmkidunya.com/past_papers/mardan-board-past-papers.aspx">BISE Mardan</a>
							</li>
							<li>
								<a href="http://www.ilmkidunya.com/past_papers/malakand-board-past-papers.aspx">BISE Malakand</a>
							</li>
							<li>
								<a href="http://www.ilmkidunya.com/past_papers/abbottabad-board-past-papers.aspx">BISE Abbottabad</a>
							</li>
							<li>
								<a href="http://www.ilmkidunya.com/past_papers/bannu-board-past-papers.aspx">BISE Bannu</a>
							</li>
							<li>
								<a href="http://www.ilmkidunya.com/past_papers/di-khan-board-past-papers.aspx">BISE DI Khan</a>
							</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
							<h4>Sindh Educational Boards Past Papers:</h4>
							<ul class="citywise-list">
							<li><a href=" http: //www.ilmkidunya.com/past_papers/karachi-board-past-papers.aspx"><span>BISE Karachi</span></a></li>
							<li><a href="http://www.ilmkidunya.com/past_papers/sukkur-board-past-papers.aspx"><span>BISE Sukkur</span></a></li>
							<li><a href="http://www.ilmkidunya.com/past_papers/hyderabad-board-past-papers.aspx"><span>BISE Hyderabad</span></a></li>
							<li><a href="http://www.ilmkidunya.com/past_papers/larkana-board-past-papers.aspx"><span>BISE Larkana</span></a></li>
							<li><a href="http://www.ilmkidunya.com/past_papers/mirpurkhas-board-past-papers.aspx"><span>Mirpurkhas Board</span></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
							<h4>Balochistan Educational Boards Past Papers:</h4>
							<ul class="citywise-list">
								<li><a href="#"><span>BISE Quetta</span></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
							<h4>BISE AJK Educational Boards Past Papers:</h4>
							<ul class="citywise-list">
								<li><a href="#"><span>BISE AJK</span></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-12" style="float:none;">
					<h2 class="ss-profession">University Past Papers</h2>
				</div>
				<div class="flex-container">
					<div class="col-lg-4">
						<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
							<ul class="citywise-list">
								<li><a href="#"><span>Punjab University</span></a></li>
								<li><a href="#"><span>Karachi University</span></a></li>
								<li><a href="#"><span>Peshawar University</span></a></li>
								<li><a href="#"><span>Bahauddin Zakariya University</span></a></li>
								<li><a href="#"><span>Sargodha University</span></a></li>
								<li><a href="#"><span>Islamia University Bahawalpur</span></a></li>
								<li><a href="#"><span>University of Health Sciences</span></a></li>
								<li><a href="#"><span>Virtual University</span></a></li>
								<li><a href="#"><span>University of Balochistan</span></a></li>
								<li><a href="#"><span>Allama Iqbal Open University</span></a></li>
							</ul>
						</div>
					</div>
				</div>
				<ul class="ss-ads" style="border: 0; padding-top: 0; margin: 0;">
					<li>
						<a href="#" aria-label="ads"><img src="https://images.ishallwin.com/1.webp" alt=""></a>
					</li>
					<li>
						<a href="#" aria-label="ads"><img src="https://images.ishallwin.com/2.webp" alt=""></a>
					</li>
					<li>
						<a href="#" aria-label="ads"><img src="https://images.ishallwin.com/3.webp" alt=""></a>
					</li>
					<li>
						<a href="#" aria-label="ads"><img src="https://images.ishallwin.com/4.webp" alt=""></a>
					</li>
				</ul>
				<div class="col-lg-12" style="float:none;">
					<h2 class="ss-profession">Past Papers</h2>
				</div>
				<div class="flex-container">
					<div class="col-lg-4">
						<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
							<h4>Class Wise Past Papers</h4>
							<ul class="citywise-list">
								<li><a href="#"><span>9th Class</span></a></li>
								<li><a href="#"><span>10th Class</span></a></li>
								<li><a href="#"><span>11th Class</span></a></li>
								<li><a href="#"><span>12th Class</span></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
							<h4>Entry Test Past Papers</h4>
							<ul class="citywise-list">
								<li><a href="#"><span>ECAT Test</span></a></li>
								<li><a href="#"><span>MDCAT Test</span></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
							<h4>Competitive Exams Past Papers</h4>
							<ul class="citywise-list">
								<li><a href="#"><span>PPSC</span></a></li>
								<li><a href="#"><span>CSS</span></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
							<h4>Technical Education Exams Past Papers</h4>
							<ul class="citywise-list">
								<li><a href="#"><span>Punjab Board</span></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="table-of-content" style="width: 100%; margin-right: 0; padding-bottom: 15px;">
							<h4>Punjab Examination Commission Past Papers</h4>
							<ul class="citywise-list">
								<li><a href="#"><span>5th Class</span></a></li>
								<li><a href="#"><span>8th Class</span></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<h2>Past Papers feedback:</h2>
					<p>If you want to share some information with other students regarding past papers, you can send your valued feedback to <a href="#">ilmkidunya.com</a></p>
				</div>
			</div>
		</div>
	</div>
	

