@media screen and (max-width:980px) {
    .ikd-grid .container {
        width: 100%
    }

    .inner-header {
        position: relative;
        padding: 5px 0
    }

    .logo a {
        width: 107px
    }

    ul.navigation {
        display: none
    }

    .slicknav_menu {
        display: block
    }

    ul.slicknav_nav.slicknav_hidden {
        display: inherit !important;
        left: -100%;
        right: auto;
        width: 280px;
        min-width: 280px;
        position: fixed;
        height: 100vh;
        top: 0;
        transition: all .3s ease-in-out;
        z-index: 9;
    }

    ul.slicknav_nav {
        left: 0;
        right: auto;
        width: 280px;
        min-width: 280px;
        position: fixed;
        height: 100vh;
        top: 0;
        display: inherit !important;
        transition: all .3s ease-in-out
    }

    .mega-menu.full-width {
        top: -20px !important;
        left: -100%;
        position: fixed;
        opacity: 1;
        width: 280px;
        transition: all .3s ease-in-out;
        border: 0;
        box-shadow: none;
        height: 100vh;
        padding-top: 20px;
        background: #35e77e
    }

    .mega-menu.full-width.show-dropdown {
        left: 0;
        transition: all .3s ease-in-out;
        opacity: 1;
        z-index: 999;
        overflow: visible;
        pointer-events: fill;
    }

    .mega-menu .mega-menu-wrapper {
        background-color: #35e77e;
        padding: 0 15px;
        height: 100vh
    }

    .menu-image-story {
        display: none
    }

    .mega-menu-top {
        flex-wrap: wrap
    }

    .menu-left-box {
        width: 100%;
        border-right: 0
    }

    .menu-right-box {
        width: 100%;
        padding-left: 0;
        border: 0;
    }

    .mega-menu .ds-heading {
        font-weight: 400;
        font-size: 17px;
        margin: 0;
        line-height: 24px
    }

    .mega-menu ol {
        margin: 0 0 15px
    }

    .mega-menu ol li {
        width: 100%;
        padding: 0;
        border-bottom: 1px solid #52fc97
    }

    .mega-menu ol li a {
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        padding: 5px 0
    }

    ul.login-option {
        position: absolute;
        top: -95px;
        right: 60px
    }

    .ss-banner-inner .ss-text-holder h1 {
        font-size: 28px;
        line-height: 38px;
    }

    .header-top {
        justify-content: flex-start
    }

    .header-add {
        display: block;
        margin: 5px 0 -10px
    }

    .header-add img {
        width: 100%
    }

    .banner {
        padding: 30px
    }

    .banner h1 {
        font-size: 22px;
        line-height: 30px
    }

    .main-table tr td img {
        width: 100%
    }

    .pastpapers-boards ul li,
    .pastpapers-uni ul li {
        width: 48%
    }

    .main-nav {
        background: none
    }

    .footer-cards .f-card {
        width: 100%
    }

    ul.ss-company-list li {
        width: 100%
    }

    ul.ss-jobs-citywise li {
        width: 33%
    }

    ul.ss-side-banner li {
        margin: 0 -4px 10px 0;
        width: 50%
    }

    ul.ss-jobs-list li .box-left {
        width: 100%
    }

    ul.ss-jobs-list li .box-right {
        width: 100%
    }

    ul.ss-jobs-list li .box-right ul li:nth-child(1) {
        width: 63%
    }

    ul.ss-jobs-list li .box-right ul li:nth-child(2) {
        width: 15%
    }

    ul.ss-jobs-list li .box-right ul li:nth-child(3) {
        width: 21%
    }

    .main-table table {
        width: 100%;
        white-space: nowrap
    }

    .flex-container span.story-base {
        width: 48%
    }

    .flex-container span.story-base h3 {
        font-size: 15px;
        line-height: 26px
    }

    .flex-container span.story-base h3.urdu {
        font-size: 13px;
        line-height: 26px
    }

    .back-home {
        left: 20px;
        top: 30px;
        font-size: 23px;
        line-height: 20px;
        font-weight: 600
    }

    .client-banner {
        width: 120px;
        margin: 0 10px;
        height: 28px
    }

    .client-banner a.dsk-ad {
        display: none
    }

    .client-banner a.mob-ad {
        display: block
    }

    .client-banner a.mob-ad img {
        height: 28px;
        object-fit: fill;
    }

    div.main-slider button.slick-next,
    div.main-slider button.slick-prev {
        top: 70%;
        left: 10px;
        width: 42px;
        height: 42px;
        background: url(../images/home-images/prev-slide.webp) no-repeat 0 0/100%;
        display: none !important
    }

    div.main-slider button.slick-next {
        right: 10px;
        background: url(../images/home-images/next-slide.webp) no-repeat 0 0/100%;
        display: none !important
    }

    ul.sm-news-list {
        margin-bottom: 0;
        margin-top: 15px
    }

    ul.sm-news-list li {
        width: 100%;
        margin: 0 0 6px
    }

    ul.sm-news-list li a .img-holder {
        width: 100px;
        height: 80px;
        position: relative;
        float: left;
        border-radius: 0
    }

    ul.sm-news-list li a .text-holder {
        float: left;
        width: calc(100% - 100px);
        padding: 10px 10px 5px;
        margin-left: 0;
        height: auto;
        background-image: none;
        color: #000;
        text-align: left
    }

    ul.sm-news-list li a .text-holder p {
        font-size: 12px;
        line-height: 18px;
        -webkit-line-clamp: 2;
    }

    .main-slides {
        padding-bottom: 0
    }

    .new-banners a {
        margin: 0 0 10px;
        display: block
    }

    .new-banners a img {
        width: 100%
    }

    .trending-keywords {
        margin: 0;
        padding: 0
    }

    .trending-keywords ul {
        justify-content: flex-start;
        margin-bottom: 0
    }

    .trending-keywords ul li {
        width: 50%
    }

    .trending-keywords ul li a {
        font-size: 16px;
        line-height: 26px
    }

    .search-banner {
        padding: 20px 0
    }

    .search-banner .sideimg {
        display: none
    }

    .banner-heading p {
        font-size: 16px
    }

    .banner-search-form form {
        display: block;
        margin: 0 3% 20px
    }

    .banner-form .banner-inputs {
        display: block;
        height: auto;
        width: 100%;
        margin-bottom: 10px
    }

    .banner-search-form .btn-search {
        width: 100%;
        height: 40px
    }

    .banner-search-form form select {
        width: 100% !important;
        padding: 10px 20px
    }

    .banner-search-form form select:not(:first-child) {
        border-left: 0;
        border-top: 1px solid #c8c8c8;
        background-position: 97% center
    }

    .news-add-sec {
        padding: 5px 0 20px
    }

    .side-news ul.sm-news-list li:not(:last-child) {
        margin-bottom: 10px
    }

    .news-add-sec ul.sm-news-list li a .text-holder span {
        font-size: 12px;
        font-weight: 400;
        margin: 0;
        line-height: 18px
    }

    .home-banner {
        padding: 10px 0
    }

    .side-bar .home-banner {
        justify-content: space-between
    }

    .side-bar .home-banner .banner-box {
        width: 48%;
        margin: 0 0 10px !important
    }

    .content-sec {
        padding-top: 20px !important
    }

    .heading-label {
        width: 100%
    }

    .heading-label h2 {
        line-height: 34px
    }

    .heading-label img {
        top: -20px;
        width: 20%
    }

    .flex-container.slide-view span.story-base .caption {
        width: 95%
    }

    .home-stories .flex-container.slide-view button {
        width: 40px;
        height: 40px;
        top: -20px
    }

    .home-stories .flex-container.slide-view button:after {
        width: 20px;
        height: 20px;
        left: 8px;
        top: 9px
    }

    .home-stories .flex-container.slide-view button.slick-next:after {
        right: 8px
    }

    .content-sec {
        padding: 20px 0
    }

    .institute-list ul li {
        width: 100%
    }

    .content-sec h2 {
        font-size: 24px;
        line-height: 30px
    }

    .home-jobs-list ul li {
        position: relative
    }

    .home-jobs-list ul li .img-holder {
        position: absolute;
        left: 0;
        top: 15px
    }

    .home-jobs-list ul li .text-holder {
        width: 100%;
        padding: 0 0 0 60px
    }

    .home-jobs-list ul li .text-holder a {
        width: 100%;
        margin: 0 0 8px;
        font-size: 16px
    }

    .home-jobs-list ul li .text-holder span.date {
        width: 50%;
        font-size: 14px;
        padding: 0
    }

    .home-jobs-list ul li .text-holder span.apply {
        width: 50%;
        font-size: 13px
    }

    .home-accordion {
        margin-top: 0
    }

    .accordion-sec .accordion-image img {
        width: 100%
    }

    .home-accordion-wrapper {
        padding: 20px 0
    }

    .home-accordion-wrapper .heading-label {
        margin: 0 0 10px !important
    }

    ul.accordion-list {
        margin: 0;
        padding: 0;
    }

    ul.accordion-list li.accordion-li {
        margin-bottom: 5px
    }

    ul.accordion-list li.accordion-li a.toggle {
        font-weight: 500;
        padding: 8px 0
    }

    .institute-list.st-abroad ul li {
        width: 49%
    }

    .home-scholar-list ul li {
        width: 100%;
        margin-bottom: 10px
    }

    .jobs-table .table tr td {
        white-space: nowrap
    }

    .jobs-table .table tr td a {
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        margin-right: 30px
    }

    .ikd-search-banner .sideimg {
        display: none
    }

    .ikd-search-banner .banner-search-form .banner-form {
        display: flex;
        margin: 0 0 20px;
        flex-wrap: wrap
    }

    .ikd-search-banner .banner-search-form .banner-inputs {
        padding: 10px;
        height: auto;
        width: 100%;
        flex-wrap: wrap;
        margin-right: 0
    }

    .flex-container.slide-view {
        height: 385px
    }

    .flex-container.slide-view span.story-base {
        min-height: 180px
    }

    .ikd-search-banner .banner-search-form select {
        width: 100% !important;
        padding: 0 10px;
        background-position: 94% center;
        height: 40px
    }

    .ikd-search-banner .banner-search-form select:not(:first-child) {
        border-left: 0;
        border-top: 1px solid #c8c8c8
    }

    .ikd-search-banner .banner-search-form .btn-search {
        width: 100%;
        height: 40px
    }

    .ikd-search-banner {
        padding: 20px 0 0
    }

    div.main-slider,
    div.main-slider .inner-slide a img {
        height: 173px;
        width: 100%
    }

    .seventh-culm .new-banners {
        display: block
    }

    .seventh-culm {
        position: relative
    }

    .home-aside-banner .banner-box.mob-only {
        display: block
    }

    div.main-slider ul.slick-dots {
        bottom: 0
    }

    div.main-slider ul.slick-dots li button {
        width: 17px;
        height: 5px
    }

    div.main-slider .inner-slide {
        float: none;
        display: inline-block;
        width: 343px
    }

    .logo {
        width: auto !important;
        height: auto !important
    }

    .ss-banner-inner {
        margin-top: 10px;
    }

    .ss-banner-inner .with-img {
        margin: 0;
    }

    ul.ss-ads li,
    ul.admission-nav li,
    .content-sec.level-wise ul.admission-nav li {
        width: 49%;
    }

    .share-box img,
    .no-box textarea,
    .table-of-content {
        width: 100%;
    }

    .bs-admission-sec .inner-holder .box-right .form-holder .fieldset {
        width: 98%;
    }

    .table {
        width: 770px;
        max-width: 770px;
    }

    .content-sec.level-wise ul.admission-nav {
        margin: 0;
    }

    .medical-box .img-holder {
        float: none;
    }

    .medical-box .text-holder {
        padding: 0 10px;
        width: 100%;
    }

    .review-sec h2,
    .contact-sec h2 {
        font-size: 23px;
    }

    select.show-list {
        padding: 0 10px;
        font-size: 13px;
        line-height: 26px;
        height: 26px;
        margin-top: 3px;
        float: none;
    }

    table.table.mid {
        max-width: 940px;
        width: 940px;
    }

    .level-wise ul.ss-class-list li {
        width: 44%;
        margin: 0 0 15px 15px !important;
    }

    ul.college-medi-list li {
        width: 50%;
    }

    ul.college-medi-list li a {
        font-size: 15px;
    }

    .medical-box .img-holder img {
        /* width: 100%; */
        margin: 0 0 15px;
    }

    .medical-box .text-holder ul li {
        width: 100%;
    }

    .medical-box .text-holder ul li span {
        width: 85%;
        vertical-align: top;
    }

    ul.citywise-list li {
        width: 50%;
    }

    ul.citywise-list li:nth-child(5n+5) a {
        border-right: 2px dashed #ccc;
    }

    .g-ad-box img {
        width: 100%;
    }

    .total-list {
        justify-content: space-around;
    }

    .total-list .list-box {
        width: 45%;
        margin: 0;
    }

    ul.institute-list li {
        width: 100%;
    }

    .ss-banner-inner .with-img .ss-img-box {
        width: 100% !important;
        margin-top: 20px;
        padding: 0;
        border: 0;
    }

    .ss-banner-inner .with-img .ss-text-holder,
    .ss-banner-inner .ss-text-holder ul li {
        width: 100%;
    }

    .ss-banner-inner.left-align .ss-text-holder ul li span {
        width: 150px;
    }

    .content-img figure img {
        width: 100%;
    }

    .feature-box .img-holder {
        width: 90px;
    }

    .feature-box .text-holder {
        padding: 0 0 0 15px;
    }

    .ss-banner-inner.college-banner .with-img .ss-img-box {
        width: 100%;
        text-align: center;
        margin: 0 0 10px 0;
        padding: 0;
        border: 0;
    }

    .ss-banner-inner.college-banner .with-img .ss-img-box .img-holder {
        float: none;
        width: 100px;
        display: inline-block;
    }

    .ss-banner-inner.college-banner .with-img .ss-text-holder {
        width: 100%;
    }

    .ss-banner-inner.college-banner .with-img .ss-text-holder ul {
        width: 100% !important;
    }

    .gallery-holder {
        flex-wrap: wrap;
    }

    .gallery-holder .box-1 figure {
        border-radius: 10px 10px 0 0;
    }

    .gallery-holder .box-2 {
        width: 50%;
    }

    .gallery-holder .box-2 figure {
        margin: 2px 0 2px 2px;
    }

    ul.review-slide {
        padding: 0 0 15px 0;
    }

    ul.rating-list li:first-child {
        width: 120px;
    }

    ul.rating-list li .all-rating {
        height: 120px;
        width: 120px;
        font-size: 15px;
        line-height: 18px;
        padding: 10px 0 0 0;
    }

    ul.rating-list li .all-rating span {
        font-size: 50px;
    }

    ul.rating-list li {
        width: 235px;
    }

    ul.rating-list li .side-rating .rating-box {
        font-size: 12px;
        margin: 0 0 5px 0;
    }

    ul.rating-list li .side-rating .rating-box span {
        font-size: 30px;
        padding: 10px 0 10px 0;
    }

    ul.rating-list li .side-rating .rating-box:last-child {
        width: 100%;
    }

    ul.contact-detail li p span {
        width: 120px;
    }

    .map-holder figure img {
        width: 100%;
        margin-bottom: 10px;
    }

    .contact-admin .text-holder {
        padding: 0 0 0 0;
        width: 100%;
    }

    .contact-admin .img-holder {
        width: 100%;
        margin: 0 0 15px 0;
    }

    .contact-admin .img-holder figure {
        border-radius: 5px;
        width: 130px;
        float: left;
    }

    .contact-admin .img-holder figcaption {
        text-align: left;
        padding: 10px 0 0 20px;
        overflow: hidden;
    }

    .news-ad-sec ul.news-date li span {
        width: 200px;
    }

    .news-ad .img-holder img {
        width: 100%;
    }

    .news-ad .text-holder {
        padding: 0 0 0 0;
        width: 100%;
    }

    .fee-box ul.contact-detail {
        padding: 0 0 0 0;
    }

    .fee-box ul.contact-detail li p span {
        width: 160px;
    }

    ul.collage-reviews li .reivew-box .box-left {
        width: 100%;
        margin: 0 0 20px 0;
        text-align: center;
    }

    ul.collage-reviews li .reivew-box .box-left span {
        display: inline-block;
    }

    ul.collage-reviews li .reivew-box .box-left strong {
        display: inline-block;
        padding: 0 0 0 30px;
    }

    ul.collage-reviews li .reivew-box .box-right {
        width: 100%;
    }

    ul.collage-reviews li .reivew-box .box-right .top-box .rating-box {
        width: 50%;
        border-left: 0;
        border-bottom: 1px solid #d3d3d3;
    }

    .review-form .fieldset .top-box .rating-box {
        width: 49%;
        margin-bottom: 10px;
    }

    .banner-form {
        justify-content: flex-end;
        width: 100%;
        margin: 0 !important;
    }

    .banner-form .input-holder {
        width: 100% !important;
        flex-wrap: wrap;
        height: auto;
    }

    .banner-form .input-holder input[type=text],
    .banner-form .input-holder select {
        width: 100%;
    }

    .banner-form .input-holder>div {
        width: 100% !important;
    }

    .banner-form .input-holder>div:first-child select {
        border: 0;
    }

    .banner-form .input-holder select {
        border-top: 1px solid #c8c8c8;
        border-left: 0;
    }

    .banner-form .btn-holder {
        margin-top: 15px;
        width: 100%;
    }

    ul.feature-institue-list li {
        width: 100%;
        padding: 0 0 20px 0;
    }

    ul.study-institue-list {
        margin: 0 0;
    }

    ul.study-institue-list li {
        width: 100%;
    }

    .ss-banner-inner .ss-text-holder ul {
        margin: 0;
    }

    .ss-banner-inner .ss-text-holder ul li span {
        width: 200px;
    }

    .aggregate-result {
        padding: 0 0 0;
    }

    ul.ss-company-list.jb-comp li {
        width: 100%;
    }

    ul.ss-class-list li {
        width: 48.5%;
    }

    ul.ss-otp-list li {
        width: 100%;
        margin: 0 0 15px 0;
    }

    ul.ss-otp-list li .text-holder:after {
        display: none;
    }

    ul.ss-otp-list li .text-holder {
        padding: 0;
    }

    .ss-class-sec {
        padding: 0 0;
    }

    ul.ss-class-list.ss-book-list li {
        width: 48%;
        margin: 0 0 20px;
    }

    .ss-banner-inner .with-img .img-holder {
        width: 100%;
        text-align: center;
    }

    .ss-banner-inner .with-img .img-holder figure {
        display: inline-block;
        width: 60%;
    }

    .istractor-box .img-holder {
        width: 80px;
    }

    .istractor-box .text-holder {
        padding: 0 0 0 10px;
        margin-right: 0;
    }

    .ikd-grid .story-sec .container .row [class*=col-lg] {
        padding: 0 15px;
    }

    .ss-banner-inner.college-banner .with-img .ss-text-holder ul li span {
        width: 240px;
    }

    .ss-banner-inner.college-banner .with-img .ss-text-holder ul li em {
        width: auto;
    }

    ul.top-scorer li {
        width: 100%;
    }

    .ss-banner-inner.left-align.test .ss-text-holder ul li span {
        width: 190px;
    }

    ul.video-list li {
        width: 100%;
        margin-bottom: 15px;
    }

    #main p img {
        width: 100%;
    }

    ul.degree-list li {
        width: 49.5%;
    }

    ul.admission-by li {
        width: 100%;
        margin: 0 0 15px 0;
    }

    ul.admission-open-list li .uni-box .img-holder {
        width: 20%;
        margin: 0 15px 0 0;
    }

    ul.admission-open-list li .uni-box .text-holder {
        width: 75%;
    }

    ul.admission-open-list li .uni-box .text-holder .box-left,
    ul.admission-open-list li .uni-box .text-holder .box-right {
        width: 100%;
    }

    ul.admission-open-list li .uni-box .text-holder .box-left .datewise {
        display: none;
    }

    ul.admission-open-list li .uni-box .text-holder .box-left h3 {
        font-size: 18px;
    }

    .article-top .left-box {
        width: 100%;
        margin-bottom: 15px;
    }

    ul.news-list li {
        width: 50%;
    }

    .post-opt span,
    .college-news-sec .news-box .text-holder span {
        font-size: 13px;
    }

    .comment-box .user-img {
        margin-bottom: 15px;
    }

    .comment-box .comment-input {
        width: 100%;
        padding: 0;
    }

    .comment-input .inputArea {
        width: 100%;
        margin: 0 0 10px 0;
    }

    ul.mpa-list li {
        width: 100%;
    }

    ul.mpa-list.dtl li,
    .page-content .table-of-content ul.pa-list li,
    .question-side {
        width: 100%;
    }

    ul.news-category li,
    .question-box .top-box .switch-box {
        width: 33%;
    }

    .question-box .top-box {
        padding: 10px 15px 0 15px;
        justify-content: flex-end;
    }

    .question-box .top-box .close-btn {
        width: 15%;
    }

    .question-box .top-box h2 {
        width: 100%;
        order: 1;
        padding: 0;
    }

    .all-test-box ul li {
        min-width: 140px;
        flex: 1;
    }

    .exercise-box .info_content {
        width: 100%;
        padding: 15px;
        overflow: auto;
    }

    .exercise-box {
        padding: 15px 0;
    }

    .exercise-box .img-holder {
        float: none;
        width: 100%;
        margin: 0 0 20px 0;
        align-items: center;
        display: flex;
    }

    .exercise-box .img-holder figure {
        width: 100px;
        margin: 0 15px 0 0;
    }

    .exercise-box .img-holder strong span {
        display: block;
    }

    .exercise-box .text-holder {
        border: 0;
        padding: 0;
    }

    .see-more a {
        padding: 5px 20px;
        margin: 0 10px 10px 0;
    }

    .exercise-box .info_content {
        background: rgba(173, 242, 200, 1);
    }

    .youtube-box {
        height: 250px;
    }

    .desktop-view {
        display: none;
    }

    .mobile-view {
        display: block !important;
    }

    #slider1 {
        opacity: 0;
        animation: fadeIn 2s 3s forwards;
        /* 3s delay before 2s fade-in */
    }

    .pp-sec .result .col-lg-4 {
        flex: 1 1 100% !important;
        width: 100% !important;
    }

    .subjects-tble2 ul li {
        flex: 1 1 100% !important;
        min-width: 220px;
    }

    ul.news-list .img-holder img {
        height: 100px;
    }

    /* Scholarship Pages Style  */
    .scholorship-head .scholarship-info {
        flex-basis: 100%;
    }

    .scholarship-info p img {
        width: 17px !important;
    }

    .scholarship-info .scholarship-right-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border: none;
        border-top: 1px solid rgb(0 0 0 / 10%);
        position: relative;
    }

    .scholorship-table table {
        font-size: 16px;
    }

    .homebanner {
        display: flex;
        flex-wrap: wrap-reverse !important;
    }

    .std-country-list {
        gap: 20px 10px;
    }

    .std-country-list .sgle-country-box img {
        width: 70px;
        height: 70px;
    }

    .std-country-list .sgle-country-box span {
        margin-top: 8px;
    }

    .cnsltant-numbers {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 24px;
    }

    .cnsltant-btn-bx {
        justify-content: center;
    }

    .see-also-sub {
        flex-basis: 90px;
        height: 90px;
    }

    .bNotice .see-also {
        justify-content: space-between;
    }

    .mega-menu-icons {

        justify-content: flex-start;
    }

    .mega-menu-icons .icobox {
        position: relative;
        width: 50%;
    }

    .mega-menu.full-width.show-dropdown .mega-menu-icons .dynamic-link .figure {
        width: 100%;
    }

    .mega-menu.full-width.show-dropdown .mega-menu-icons .dynamic-link span {
        width: 100%;
    }

    .mega-menu.full-width.show-dropdown .mega-menu-icons .dynamic-link {
        display: flex;
        height: 80px;
        background-color: #fff;
        border: 1px solid rgb(0 0 0 / 10%);
        border-radius: 6px;
        padding: 10px 6px;
        color: #080808;
        font-weight: 600;
        font-size: 12px;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .mega-menu-icons .icobox a img {
        height: 35px !important;
        position: relative;
        top: auto;
    }

    .slicknav_menu ul ul {
        display: flex !important;
        padding: 0;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .slicknav_menu ul ul li {
        display: inline-block;
        padding: 0 10px 0 0;
        margin: 0 -4px 10px 0;
        border: 0;
    }

    .ans-box {
        height: 67vh !important;
    }

    .ss-check-result .fieldset {
        width: 100% !important;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}